<div id="about" class="dn">
    <div class="tc tl-ns">
        <h3 class="black f2 fw6 tc code">About JeffConf Hamburg</h3>
        
        <div class="black mw6 tc center">
            <p>
                <h4 class="black f3 fw6 tc code mt5 mb3 mb0-ns" id="Conference finance">Conference finance</h4>
                    Our motivation for creating JeffConf Hamburg isn't money. In the event that the conference is profitable we will put the money back into the community and/or towards the next JeffConf Hamburg. We're committed to financial transparency and will publish the conference accounts on this page once they are finalised.
            </p>
        </div>
    </div>
</div>
