<div id="agenda" class="dn">
  <div class="tc tl-ns">
      <h3 class="black f2 fw6 tc code">Agenda Conference Day (Feb 16th)</h3>

      <div class="dt ba b--black-50 mw7 center">
          <div class="dt-row white">
              <div class="dtc v-mid tc pa3 br bb fw6 hamburg-red-bg w-10">
                  Time
              </div>
              <div class="dtc v-mid tl ph2 pv3 bb fw6 hamburg-red-bg w-20">
                  Speaker / Activity
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb fw6 hamburg-red-bg w-60">
                  Description
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  09:00
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>Doors open, breakfast</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  09:50
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>Introduction</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Introduction</p>
                  <p class="f6 fw4">Introduction to JeffConf, code of conduct, etc.</p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  10:00
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#simonw" class="black">Simon Wardley</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Why the Fuss about Serverless?</p>
                  <p class="f6 fw4">We live in a competitive world. That competition forces change. It has always forced change. Change is normal. The question is not whether our organizations will change, that’s a given, but can we see this change before it hits us, do we know where we’re heading or are we simply floating aimlessly being carried by a river? It certainly feels that way sometimes. To answer the question, we need to understand our landscape, the economic forces at play, the context we operate within and our situational awareness of this. Can we navigate the waters, can we see a storm coming or are we being battered by rocks because we refuse to look?</p>
                  <p class="f6 fw4">
                      During this talk, we will examine the level of situational awareness within business, why it matters and whether we can anticipate and exploit change before it hits us. We look into the changes that are occurring with the development of serverless, why now, what’s important to it, how it will change the way we do business and how this interacts with the API economy. There’s a lot of fuss about serverless, and in this session, we will try to paint a clearer picture, or at the very least, a map of where it is going.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://www.slideshare.net/swardley/why-the-fuss-about-serverless-88107645">Slides</a> <!-- Slides (tba) --> | <a href="https://twitter.com/malweene/status/964460657604268033">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  10:50
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#manur" class="black">Manu Rink</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">You shall not FaaS!</p>
                  <p class="f6 fw4">"Serverless" or FaaS is with no doubt the latest trend in the cloud computing world. No wonder! It claims that everybody can deploy and host services in the cloud in no time, auto scaled, fully managed by the hosting platform and most importantly - super cost effective. A dream for every developer, admin or devops.<br>

                      But can this dream really be true? You already might smell the rat :)<br>

                      This talk wants to show what you better not shall do with serverless technologies, which pitfalls you should vastly avoid and how you prohibit your services from burning senseless money out of your pockets. But no worries! There will be a happy end with a bunch of hints and scenarios on how to get full bliss from our beloved Jeff &lt;3</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://speakerdeck.com/codeprincess/you-shall-not-faas">Slides</a> | <a href="https://twitter.com/malweene/status/964460810432020480">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>

          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  11:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#danilop" class="black">Danilo Poccia</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Real-Time Serverless Back Ends with GraphQL</p>
                  <p class="f6 fw4">GraphQL is an open standard that lets you request, change, and subscribe to the exact data you need in a single network request. This makes prototyping and building data-intensive applications as simple as writing a few lines of code. In this session we’ll introduce the core concepts of GraphQL and put that into practice with real-world implementations using tools such as AWS Lambda and AWS AppSync to deliver real-time collaborative experiences for web and mobile apps, using multiple data sources, managing off-line users’ data, and resolving data conflicts.</p>
                  our beloved Jeff &lt;3</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://speakerdeck.com/danilop/real-time-serverless-back-ends-with-graphql">Slides</a> | <a href="https://twitter.com/malweene/status/964460894905397248">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  11:40
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#philippm" class="black">Philipp Müns</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Using the Event Gateway to build serverless multi-cloud applications</p>
                  <p class="f6 fw4">As serverless technologies go mainstream many cloud providers are revamping their service offerings, adding more sophisticated cloud solutions and making it possible to create stellar applications in a breeze.<br>

                      Serverless applications usually make heavy use of different service offerings. Most of the time those services are Cloud provider specific, since they’re easy to integrate and work with.<br>

                      But what about services which are only available on another Cloud provider infrastructure?
                      How could you consume them without the need to go all-in and re-write your whole application for this Cloud provider?<br>

                      The <a href="https://github.com/serverless/event-gateway" class="black" target="_blank">Event Gateway</a> is the answer to those questions.
                      The Event Gateway acts as the central hub and broker, orchestrating event flows across decoupled services, not matter where they are located.<br>

                      Curious how the Event Gateway enables frictionless multi-cloud applications? Join this session to learn how.
                  </p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <a href="https://twitter.com/malweene/status/964461093698580480">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  12:00
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#alexc" class="black">Alex Casalboni</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless Data Warehousing & Data Analysis on AWS</p>
                  <p class="f6 fw4">Data science teams need to reduce storage and maintenance costs, and at the same time provide analytics tools for data analysts and scientists.<br>
                      How can we make data collection and data analysis exciting, performant, and cost-effective in the Cloud?<br>
                      Alex will connect the dots around the data processing building blocks provided by AWS, without managing any servers!</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://speakerdeck.com/alexcasalboni/serverless-data-warehousing-and-data-analysis-on-aws">Slides</a> <!-- Slides (tba) --> | <a href="https://twitter.com/malweene/status/964461210476470272">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  12:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>Lunch</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  13:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#gilliana" class="black">Gillian Armstrong</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Conversational AI and Serverless</p>
                  <p class="f6 fw4">Conversational Interfaces are rapidly taking over the world. In this talk we’ll look at how Serverless technologies can be used for rapid chatbot development, specifically with Amazon Lex and Amazon Alexa. We’ll talk about lessons learned from my own experiences building an enterprise digital assistant, and how using a Natural Language Understanding interface changes how we think about and design our applications.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <a href="https://twitter.com/malweene/status/964505018761129985">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  13:50
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#subbua" class="black">Subbu Allamaraju</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">How to sell serverless to your colleagues</p>

                  <p class="f6 fw4">You can talk all day long to your colleagues about the virtues of serverless patterns. You’re sure to hear hesitant responses with a few “but”s. Some of those responses will be driven by today’s limitations and constraints, while the rest will be based on their perspectives of cloud, portability, lock-in, cost etc.<br><br>

                      In this talk, I want to walk through what has been happening in the industry to paint a picture of platform of the future, where functions and events fit, and how to prepare your colleagues for that future. We will also see how some of those “but”s may driven by past habits, culture and legacy, and what we can do to get past those.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://www.slideshare.net/sallamar/selling-serverless-to-your-colleagues">Slides</a> <!-- Slides (tba) --> | <a href="https://twitter.com/malweene/status/964505117058793472">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  14:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#danielb" class="black">Daniel Buchholz</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Rule-based dispatching of events to a serverless services armada</p>
                  <p class="f6 fw4">Some item is changed in some database… Stuff needs to happen as an effect… Tons of downstream services might need a notification.. But which? For each individual item this is a matter of matching the item’s contents against configurable, even volatile, rules. How we make it happen.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <a href="https://twitter.com/malweene/status/964505226207252480">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  14:40
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#oliverz" class="black">Oliver Zeigermann</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless Machine Learning</p>
                  <p class="f6 fw4">In this talk I will show how to use a sentiment analysis API to find out which of your emails should be answered first. I will also train and deploy a simple TensorFlow model that predicts the category of a new customer.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://djcordhose.github.io/ai/2018_jeffconf.html#/">Slides</a> <!-- Slides (tba) --> | <a href="https://twitter.com/malweene/status/964505306679083008">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  15:00
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#michaelw" class="black">Michael Wittig</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Evolutionary Serverless Architecture: From hackathon to product</p>
                  <p class="f6 fw4">A system architecture often struggles to adapt to new requirements. Serverless architectures can evolve over time because we can replace the building blocks at any time.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <a href="https://twitter.com/malweene/status/964505410395951104">Sketchnotes</a> <!-- Sketchnotes (tba) -->
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  15:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>Coffee break</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  15:50
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#annad" class="black">Anna Doubková</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Gotchas in Serverless Framework</p>
                  <p class="f6 fw4">Did you know it's not very hard to hit a cap of CloudFormation resources? Or that file size changes drastically when packing your code with webpack without correct settings? In this talk, you'll learn how to use Serverless Framework on a large production scale without having to figure out all these things the hard way.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <a href="https://docs.google.com/presentation/d/1W7bn57LmpEbEab1ABvqpS-iUWyaZpqb9LtqndmyLJbk/edit">Slides</a> <!-- Slides (tba) --> | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  16:10
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#cyler" class="black">Cyle Riggs</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Live Coding: A Serverless Platform in 100 lines</p>
                  <p class="f6 fw4">I will build and demonstrate a working serverless platform, without using any existing serverless framework, live on stage. In implementing FaaS I will demonstrate the core components, features, and challenges of architecting and using various serverless platforms.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  16:40
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#paulj" class="black">Paul Johnston</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Managing Serverless Development</p>
                  <p class="f6 fw4">Serverless is still an emerging space, and many people are trying to push current management practices into the serverless space. Does this work? Is there a better way? What lessons can we learn from this emergent space?</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  17:10
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#larst" class="black">Lars Trieloff</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Putting the F in FaaS: Functional Composition in a Serverless World</p>
                  <p class="f6 fw4">What are the best patterns for composing serverless applications? Where to look for inspiration? In this talk, Lars describes how functional programming patterns can be used for FaaS.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  17:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#artol" class="black">Arto Liukkonen</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless Wordpress</p>
                  <p class="f6 fw4">I will showcase migrating a (semi-) high traffic WP site from a costly server to AWS Lightsail & server-side rendering React app on Serverless framework. It's faster and more secure but at the same time the customer doesn’t have to compromise on their favourite editor, WordPress.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  17:30
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#chadari" class="black">Chad Arimura</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Intro to Fn: Open Source Cloud Agnostic Serverless Platform</p>
                  <p class="f6 fw4">In this lightning talk, I will demo the Fn Project, a new OSS serverless platform by the creators of IronFunctions, including Fn Flow which allows developers to build higher-order workflows in the native language of their choice (no JSON!). I will also highlight enterprise case studies of Fn in production.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  17:40
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <a href="/speakers#yanc" class="black">Yan Cui</a>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless in production, an experience report</p>
                  <p class="f6 fw4">In this talk Yan Cui shares his experience of migrating an existing monolithic architecture for a social network to AWS Lambda, and how it empowered a small team to deliver features quickly and how they address operational concerns such as CI/CD, logging, monitoring and config management.</p>
                  <p class="f6 fw4">
                    <!-- <a href="xxxxxxx">Video</a> --> Video (tba) | <!-- <a href="xxxxx">Slides</a> --> Slides (tba) | <!-- <a href="xxxxxx">Sketchnotes</a> --> Sketchnotes (tba)
                  </p>
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  18:10
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>Closing</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  18:20
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>End of conference</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
              </div>
          </div>

          <div class="dt-row bg-near-white">
              <div class="dtc v-mid tc pa3 br bb b--black-50">
                  20:00
              </div>
              <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                  <p>Aftershow Party</p>
              </div>
              <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                  <p>Party at <a href="https://www.bar-rossi.de/13-stock">13. Stock!</a></p>
              </div>
          </div>

      </div>

  </div>
</div>
