<div id="agenda" class="dn">
  <div class="tc tl-ns">
      <h3 class="black f2 fw6 tc code" data-lang="Programma">Agenda</h3>
      
      <div class="dt ba b--black-50 mw7 center">
        <div class="dt-row white">
          <div class="dtc v-mid tc pa3 br bb fw6 it-green-bg w-10" data-lang="Orario">
            Time
          </div>
          <div class="dtc v-mid tl ph2 pv3 bb fw6 it-green-bg w-20" data-lang="Speaker / Attività">
            Speaker / Activity
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb fw6 it-green-bg w-10" data-lang="Lingua">
            Lang
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb fw6 it-green-bg w-60" data-lang="Descrizione">
            Description
          </div>
        </div>
        <div class="dt-row bg-near-white">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            09:00
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50" data-lang="Registrazioni">
            Doors Open
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-international.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f6 fw4" data-lang="Una colazione leggera e del caffé verranno serviti durante le registrazioni mattutine.">
            Coffee, juices and a light breakfast will be served during the registration.
            </p>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            09:50
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50" data-lang="Introduzione">
            Welcome
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-en.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f6 fw4" data-lang="Presentazione di apertura ed un caloroso benvenuto per iniziare ad imparare e condividere con il piede giusto.">
            Opening of the conference and welcoming guests to spend a day learning and interacting with each other.
            </p>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            10:00
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Paul Johnston
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-en.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6 v-mid">
            The State of Serverless
            </p>
            <p class="f6" data-lang="Cosa significa Serverless? Come cambierà il mondo IT? Cosa abbiamo imparato fin ora e cosa ci riserva il futuro? Paul analizzerà i principali vantaggi, problemi e direzioni delle tecnologie serverless, e ci spiegherà l'importanza di Jeff.">
              What is Serverless? How will it change the world of tech? What have we learned to now? What are the things coming up? Paul looks into all the issues around serverless, where serverless is going, and introduces us to why Jeff matters.
            </p>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            10:45
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Danilo Poccia
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
            Serverless beyond Functions
            </p>
            <p class="f6" data-lang="Uno dei principali vantaggi dello sviluppo serverless è la possibilità di “concatenare“ funzioni e progettare architetture “event-driven“. Tali applicazioni sono molto più semplici da manutenere perché le relazioni di causa-effetto sono più generalmente intuitive da individuare rispetto a flussi complicati. Finalmente è giunto il momento di andare oltre, e utilizzare lo stack “serverless“ per costruire applicazioni “senza pensare ai server“, utilizzando tutti gli strumenti a disposizione.">
              One of the great advantage of serverless development is the possibility to “chain” multiple functions together and design event-driven architectures. Such applications are easier to maintain because our human minds are much better at looking for cause-effect relationships than understanding complex workflows. It's time to go beyond that, considering serverless in its broader definition of building applications “without thinking about servers”, and use all the available tools.
            </p>
          </div>
        </div>
        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            11:30
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Andrea Ulisse
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
              How to build a scalable serverless IoT architecture on GCP
            </p>
            <p class="f6" data-lang="Andrea ci mostrerà come progettare una architettura IoT performante, affidabile e scalabile, utilizzando i servizi gestiti di Google Cloud Platform (GCP), gli stessi strumenti usati da Google in produzione e che ora sono a disposizione di aziende e sviluppatori. Tale architettura permette di concentrarsi sulle vere problematiche di business piuttostoche che gestire l'intera infrastruttura. Google ha sempre creduto in un futuro serverless, a partire Google App Engine, che nel 2008 è stato il primo servizio di serverless compute. Da allora, l'offerta serverless di Google si è espansa verso lo sviluppo di applicazioni web, l'analisi dei dati e l'intelligenza artificiale.">
              Andrea will show how to build a performant, reliable and scalable serverless IoT architecture powered by Google Cloud Platform (GCP) managed services, the same tools used by Google for its productions services which are now available for developers and companies. Such architecture allows you to focus on delivering value to your business rather than managing the underlying infrastructure.
              Google Cloud has always believed in the vision of serverless, starting with Google App Engine in 2008, Google’s first fully serverless compute service. Since then, Google has evolved more serverless offerings in Application Development, Data Analytics and Machine Learning.
            </p>
          </div>
        </div>
        <div class="dt-row bg-near-white">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            12:15
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50" data-lang="Pranzo &amp; Open Space sessions">
            Lunch &amp; Open Space sessions
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-international.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f6 fw4" data-lang="Durante la pausa pranzo, si terrà circa un'ora di Open Space con presentazioni proposte dai partecipanti durante la mattinata, per facilitare la condivisione di idee ed esperienze.">
              Lunch will be served, whilst a 1h Open Space program of self-organised discussions with questions submitted on the day by attendees, enabling the sharing of doubts and ideas.
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            13:30
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
             Alex Ellis
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-en.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
              Zero to Serverless in 60 seconds - anywhere
            </p>
            <p class="f6" data-lang="Alex presenterà OpenFaaS, un framework open-source per pacchettizzare qualsiasi codice o container in una funzione serverless. Anche Prometheus fa parte dello stack e fornisce supporto per metriche e auto-scaling. OpenFaaS può ache essere utilizzato su cluster Swarm o Kubernetes, così da sfruttare i tool già esistenti nel cluster. Alex ci mostrerà le funzionalità di OpenFaaS con delle dimostrazioni live, utilizzando anche Alexa Voice Assistant. OpenFaaS ha più di 5mila stars su GitHub ed è supportato da aziende come Huawei, ADP e CodeFresh.">
              Alex will present OpenFaaS, an open-source framework that allows you to package any code or container as a serverless function. Prometheus is baked into the stack meaning you have 1st class support for metrics and auto-scaling. You can also bring your own Swarm or Kubernetes cluster and leverage high-availability and orchestration with your existing tools.
              Alex will show OpenFaaS in action through hands-on demos including the Alexa Voice Assistant.
              OpenFaaS has over 5k GitHub stars and is being evaluated by the likes of Huawei, ADP and CodeFresh - so come and grab some SWAG and find out why.
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            14:00
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Luca Mezzalira
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
              Serverless Automation Pipelines
            </p>
            <p class="f6" data-lang="Luca ci dimostrerà come è possibile utilizzare un approccio completamente serverless per la gestione di centinaia di applicazioni web (e non solo!)">
              Luca will discuss the benefits how adopting a serverless approach to manage multiple web apps (and much more!)
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            14:30
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
             Jessica Tibaldi
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
            Serverless API with Azure Functions
            </p>
            <p class="f6" data-lang="Jessica ci mostrerà come progettare e costruire delle API serverless con Azure Functions.">
              Jessica will showcase how to design and build serverless web APIs powered by Azure Functions.
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            14:50
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
             Sönke Ruempler
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-en.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
            .htaccess Reloaded
            </p>
            <p class="f6" data-lang="Come servire e distribuire siti web statici protetti da password grazie ad AWS Lambda@Edge e Amazon Cognito.">
              Password-protected serverless website hosting with Lambda@Edge and Cognito Userpools.
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            15:10
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
             Filippo Liverani
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
              Test-driven Serverless
            </p>
            <p class="f6" data-lang="Come spesso accade con l'avvento di nuove tecnologie, è facile cedere all'entusiasmo e dimenticarsi delle buone pratiche. Si rischia di ritrovarsi con una montagna di spaghetti code non testabile e di vedere la propria produttività calare drasticamente. Filippo ci mostrerà come creare un'applicazione Node.js guidata dai test, per produrre codice di qualità e manutenibile anche nel mondo serverless.">
              As often happens with new technologies, the initial hype and enthusiasm can potentially disrupt years of best practices. Serverless developers may quickly end up with a lot of untestable spaghetti code, followed by a drastic productivity drop. Filippo will showcase how to build a Node.js app powered by TDD to write high-quality and maintainable code in a serverless world.
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            15:30
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Marco Parenzan
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6" data-lang="Orchestrare microservizi su Azure con Logic Apps">
              Orchestrating microservices on Azure with Logic Apps
            </p>
            <p class="f6" data-lang="Marco presenterà Logic Apps, il servizio Serverless di Azure per la realizzazione di processi di integrazione e processi asincroni. Logic Apps permette di orchestrare in maniera visuale un workflow di microservizi, grazie al concetto di connettori e al complemento di Azure Functions. In questa sessione Marco dimostrerà come utilizzare il servizio in alcuni scenari di utilizzo.">
              Marco will showcase Logic Apps, Azure's serverless offering for implementing integration processes and asynchronous processes. Logic Apps allows you to visually orchestrate microservices workflows, and it's powered by the concept of connectors and Azure Functions. Marco will demonstrate how to use Logic Apps with some real-world scenarios.
            </p>
          </div>
        </div>

        <div class="dt-row bg-near-white">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            16:00
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50" data-lang="Pausa caffé">
            Coffee Break
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-international.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
          <p class="f6" data-lang="Una breve pausa per prendere fiato, bersi un caffé, e scambiarsi idee prima delle ultime sessioni pomeridiane.">
          Short refreshment break to catch your breath and get back to the hallway track before the afternoon session.
          </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            16:30
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Cyle Riggs
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-en.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6">
              Live Coding: A Serverless Platform in 100 LoC
            </p>
            <p class="f6" data-lang="Cyle svilupperà un sistema di Function-as-a-Service per funzioni Python basato su Docker e uWSGI, a scopo educativo e didattico. Assicuratevi di avere un po' di codice Python da eseguire live!">
              Cyle will show us how to build an educational FaaS layer for Python functions on top of Docker and uWSGI. Make sure you're ready to submit your own code!
            </p>
          </div>
        </div>

        <div class="dt-row">
            <div class="dtc v-mid tc pa3 br bb b--black-50">
                17:00
            </div>
            <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
                Anoop Ramachandran
            </div>
            <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
                @@include('./icon-en.html')
            </div>
            <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
                <p class="f5 fw6">
                    Harnessing Big Data through Serverless Technologies
                </p>
                <p class="f6" data-lang="Anoop ci parlerà dell'esperienza Cloud di MainAd che, grazie a Google Cloud Platform, processa e memorizza petabytes di dati legati al mondo degli annunci pubblicitari in tempo reale, e senza gestire alcun server.">
                    Within a Q&amp;A session, Anoop will discuss MainAd's experience with Google Cloud Platform in storing and processing petabytes of customer and inventory data, in the real time bidding marketplace.
                </p>
            </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            17:20
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Lightning Talks
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f6" data-lang="Una serie di 5 presentazioni flash da 5 minuti per condividere progetti personali e approcci serverless.">
              Quick Fire round of 5 lightning talks showcasing serverless projects and approaches.

              <p>
                <strong>Alberto Motta</strong>:
                <em data-lang="Un matrimonio serverless">Serverless Wedding</em>
              </p>
              <p>
                <strong>Alberto Begliardo</strong>:
                <em data-lang="Alla ricerca&hellip; della Ricerca">In search of&hellip; Search</em>
              </p>
              <p>
                <strong>Lino Telera</strong>:
                <em data-lang="Il Function-as-a-Service in casa VMWare">The VMware side of Function as a Service</em>
              </p>
              <p>
                <strong>Alessandro Mazzoli</strong>:
                <em data-lang="Serverless, l'evoluzione di DevOps">Serverless, a next level for DevOps</em>
              </p>
              <p>
                <strong>Luca Barzé</strong>:
                <em>Serverless file hosting, secured by Blockchain</em>
              </p>
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            17:50
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50">
            Panel
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-it.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f5 fw6" data-lang="Serverless &amp; Chatbots - Moderato da Luca B.">
              Serverless &amp; Chatbots - Moderated by Luca B.
            </p>
            <p class="f6" data-lang="Un panel tecnico focalizzato sul caso d'uso dei chatbot e dei relativi vantaggi offerti dalle tecnologie serverless. Il panel sarà moderato da Luca Bianchi, co-organizzatore del Serverless Italy Meetup, e includerà Alessandro Vitale, Gianvito Siciliano e Alessio Coser.">
              A technical panel with focusing on the chatbots use cases powered by serverless technologies. The panel will be moderated by Luca Bianchi, co-organizer of the Serverless Italy Meetup, and it will involve Alessandro Vitale, Gianvito Siciliano, and Alessio Coser.
            </p>
          </div>
        </div>

        <div class="dt-row">
          <div class="dtc v-mid tc pa3 br bb b--black-50">
            18:20
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50" data-lang="Chiusura e riflessioni">
            Closing Remarks
          </div>
          <div class="dtc v-mid tl ph3 pv3 bb b--black-50 tc">
            @@include('./icon-en.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl bb b--black-50">
            <p class="f6 fw4" data-lang="Alex Casalboni riepilogherà e concluderà la giornata, raccontando brevemente il futuro di JeffConf, sia in Italia che all'estero.">
            Alex Casalboni will reflect on what we've learnt and share where we want to take JeffConf in the future, in Italy and around the world.
            </p>
          </div>
        </div>

        <div class="dt-row bg-near-white">
          <div class="dtc v-mid tc pa3 br b--black-50">
            18:30
          </div>
          <div class="dtc v-mid tl ph3 pv3 b--black-50" data-lang="Aperitivo">
            Post Conference Drinks
          </div>
          <div class="dtc v-mid tl ph3 pv3 tc">
            @@include('./icon-international.html')
          </div>
          <div class="dtc v-mid tl ph3 pv3 bl b--black-50">
            <p class="f6" data-lang="Unitevi a noi nel bellissimo giardino del Grand Visconti palace dopo l'evento per bere un drink e continuare la conversazione fino alle 20.">
            Join us at the Grand Visconti Palace's garden for a drink and to continue the conversation up to 8pm.
            </p>
          </div>
        </div>

      </div>

  </div>
</div>