<div id="call-for-speakers-workshops" class="dn">
  <div class="tc tl-ns">
    <h3 class="black f2 fw6 tc code" data-lang="Impressum">Call for Speakers and Workshops</h3>
      <div class="tc"><a href="https://www.papercall.io/cfps/751/submissions/new" class="b f3 link dim ph3 pv2 mb2 dib white bg-dark-red">Submit a talk or workshop proposal</a></div>
      <p>Serverless is a recent addition to the long list of technologies that promise to accelerate software delivery, reduce cost of compute ownership and provide unicorns and rainbows for all. And like all industry buzzwords it generates enthusiasm and scepticism in equal measure – how to move beyond the hype?</p>

      <p>JeffConf was born in the spirit of Paul Johnston’s <a href="https://serverless.zone/serverless-is-just-a-name-we-could-have-called-it-jeff-1958dd4c63d7">blog post</a>, “Serverless is just a name. We could have called it Jeff”, an attempt to move beyond the Serverless buzzword and focus on the practical use of function as a service platforms and the value they provide. It is a one day, community focused, single track event centred on real world Jeff (or Serverless) based solutions. It’s about fostering a community and helping all of us learn from each other as we embrace a new way of building applications.</p>

      <p>JeffConf Hamburg will be the third JeffConf after London and Milan with an expected attendance of 200. We extend a warm welcome to attendees from the Hamburg area and beyond! Our focus is on building a community through sharing of experiences, accessible without a large commitment of time or money (tickets start from just €35)</p>

      <div class="tc"><a href="https://www.papercall.io/cfps/751/submissions/new" class="b f3 link dim ph3 pv2 mb2 dib white bg-dark-red">Submit a talk or workshop proposal</a></div>

  </div>
</div>