<div id="coc" class="dn">
    <div class="tc tl-ns">
        <h3 class="black f2 fw6 tc code" data-lang="Codice di Comportamento">Code of Conduct</h3>
        
        <div class="black mw6 tc center">
            <p data-lang="
              Tutti i partecipanti, gli speaker, gli sponsor e i volontari che partecipano alla nostra conferenza devono accettare il Codice di Comportamento presentato di seguito. Sarà compito degli Organizzatori verificarne il rispetto durante tutta la durata dell'evento.
              È compito di chiunque aiutarci ad assicurare un ambiente sereno e ospitale per tutti.
            ">
            All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.
            </p>
            <p data-lang="">
            tl;dr: Jeff says be excellent with each other
            </p>
            <p class="fw6 mt5" data-lang="Versione breve">
            The Quick Version
            </p>
            <p data-lang="
            La nostra conferenza offre a ciascuno un'esperienza libera da discriminazioni, indifferentemente da genere, identità di genere, identità sessuale, orientamento sessuale, età, disabilità, apparenza fisica, razza, e religione.
            Non tolleriamo qualsiasi genere di molestie, per nessun motivo.
            Inoltre, un linguaggio spinto non è appropriato all'interno della conferenza, tra i partecipanti, durante i talk, durante i workshop, su Twitter e sugli altri social media.
            I partecipanti che dovessero violare queste regole saranno allontanati immediatamente, senza possibilità di rimborso del biglietto.
            ">
            Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form.
            Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.
            </p>
            <p class="fw6 mt5" data-lang="Versione integrale (in inglese)">
            The Less Quick Version
            </p>
            <p>
            Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
            </p>
            <p>
            Participants asked to stop any harassing behavior are expected to comply immediately.
            </p>
            <p>
            Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
            </p>
            <p>
            If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.
            </p>
            <p>
            If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they’ll be wearing branded t-shirts.
            </p>
            <p>
            Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
            </p>
            <p>
            We expect participants to follow these rules at conference and workshop venues and conference-related social events.
            </p>                    
            
        </div>
        
    </div>
</div>