<div id="diversity" class="dn">
    <div class="tc tl-ns">
        <h3 class="black f2 fw6 tc code">Diversity @ JeffConf Hamburg</h3>
        <div class="black mw6 mw7-ns tc center mt4 ph3 ph0-ns">
            <p class="f5 fw4">
                JeffConf is a community organised event focusing on Serverless technologies and the changing face of application development. We aim to make it an inclusive conference welcoming people from diverse backgrounds. To reach our goal, we are going to allow people who are part of an underrepresented group in tech to obtain a free Diversity Ticket. We will keep you posted!
            </p>

            <h4 class="black f2 fw6 tc code">Diversity Partners</h4>
            @@include('./diversity-partners.html')

            <p class="pt4 f6">
              <span>
                If you think your organisation should be one of our Diversity Partners, email us at
              </span>
                <a id="jeffconf-hamburg-email-diversity" class="no-underline orange fw6" href="mailto:hamburg@jeffconf.com">hamburg@jeffconf.com</a>.
            </p>
        </div>

    </div>
</div>