<div id="diversity" class="dn">
  <div class="tc tl-ns">
      <h3 class="black f2 fw6 tc code" data-lang="Richiedi un Biglietto Diversity">Apply for Diversity Tickets</h3>
      <div class="black mw6 mw7-ns tc center mt4 ph3 ph0-ns">
        <p class="f5 fw4" data-lang="
        JeffConf è un evento che parla di tecnologie Serverless e del cambiamento delle tecniche di sviluppo di applicazioni web. Vogliamo rendere JeffConf una conferenza inclusiva e accogliente per persone di background differenti.
        Per raggiungere questo obiettivo abbiamo messo a disposizione dei «Diversity Ticket», biglietti gratuiti per le persone che appartengono a gruppi poco rappresentati o poco presenti nel settore tech.
        ">
        JeffConf is a community organised event focusing on Serverless technologies and the changing face of application development. We aim to make it an inclusive conference welcoming people from diverse backgrounds. To reach our goal, we allow people who are part of an underrepresented group in tech to obtain a free Diversity Ticket.
        </p>
        <p
          data-lang="
          Per richiedere un Biglietto Diversity gratuito, premi il pulsante qui sotto.
          "
        >
        If you wish to apply for a diversity ticket simply click the button below.
        </p>
        <div class="w-100 center tc mv4">
          <a id="diversity-apply" href="https://serverless-italy.typeform.com/to/ZTej0Y" class="tc mw4 center ph4 pv2 v-mid no-underline it-green-bg white f5 fw6 ba br2 b--transparent pointer" target="_blank"
            data-lang="Richiedi">Apply</a>
        </div>
        <h4 class="black f3 fw6 tc code mt5" data-lang="<em>Diversity</em> Partner">Diversity Partners</h4>
        
        @@include('./diversity-partners.html')

        <p class="pt4 f6">
          <span data-lang="Se pensi che la tua organizzazione possa diventare un Diversity Partner, scrivici a ">
            If you think your organisation should be one of our Diversity Partners, email us at 
          </span>
          <a id="jeffconf-milan-email-diversity" class="no-underline orange fw6" href="mailto:milan@jeffconf.com">milan@jeffconf.com</a>.
        </p>
      </div>

  </div>
</div>