<div class="dt w-100 pb1 pb3-ns pt3">
    <div class="dt-row">
        <div class="dtc-ns w-100 center w-50-ns v-mid">
            <div class="dt w-100">
                <div class="dt-row">
                    <div class="dtc w-50 center tc v-mid">
                        <a id="geekettes" class="no-underline grow pa3 v-mid db mw-100" href="http://www.geekettes.io/cities/hamburg/" target="_blank" title="Geekettes Hamburg"><img class="grow db center w-50" src="/imgs/diversity-geekettes.png" alt="JS Girls" title="Geekettes Hamburgm" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>