<div class="dt w-100 pb1 pb3-ns pt3">
  <div class="dt-row">
    <div class="dtc-ns w-100 center w-50-ns v-mid">
      <div class="dt w-100">
        <div class="dt-row">
          <div class="dtc w-50 center tc v-mid">
            <a id="jsgirls" class="no-underline grow pa3 v-mid db mw-100" href="http://js-girls.org/" target="_blank" title="JS Girls"><img class="grow db center" src="/imgs/js-girls.jpg" width="90" alt="JS Girls" title="JS Girls" /></a>
          </div>
          <div class="dtc w-50 center tc v-mid">
            <a id="girls-in-tech" class="no-underline grow pa3 v-mid db mw-100" href="http://www.girlsintech.it" target="_blank" title="Girls in Tech"><img class="grow db center" src="/imgs/girls-in-tech.jpg" width="90" alt="Girls in Tech" title="Girls in Tech" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="dtc-ns w-100 center w-50-ns v-mid">
      <div class="dt w-100">
        <div class="dt-row">
          <div class="dtc w-50 center tc v-mid">
            <a id="ragazzedigitali" class="no-underline grow pa3 v-mid db mw-100" href="http://www.ragazzedigitali.it" target="_blank" title="Ragazze Digitali"><img class="grow db center" src="/imgs/ragazze-digitali.jpg" width="200" alt="Ragazze Digitali" title="Ragazze Digitali" /></a>
          </div>
          <div class="dtc w-50 center tc v-mid">
            <a id="girls-code-it-better" class="no-underline grow pa3 v-mid db mw-100" href="http://girlscodeitbetter.it" target="_blank" title="Girls Code It Better"><img class="grow db center" src="/imgs/girls-code-it-better.jpg" width="100" alt="Girls Code It Better" title="Girls Code It Better" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>