<footer class="center tc f6">
  <div class="w-100 tc pt3">

      <h4 class="black f3 fw6 tc code mt5 mb3 mb0-ns" data-lang="Sponsor">Sponsors</h4>
                          <div class="w-50 center pa3">
                              <a id="aws-sponsor-website" class="no-underline pointer db w-40 center" href="https://aws.amazon.com" target="_blank" title="Amazon Web Services">
                                  <img class="grow" src="/imgs/aws-new.svg" alt="AWS" title="AWS" />
                              </a>
                          </div>
                          <div class="w-50 center pa3">
                              <a id="serverless-sponsor-website" class="no-underline pointer db w-40 center" href="https://serverless.com/" target="_blank" title="Serverless">
                                  <img class="grow" src="/imgs/serverless.png" alt="Serverless" title="Serverless" />
                              </a>
                          </div>
                          <div class="w-50 center pa3">
                              <a id="microsoft-sponsor-website" class="no-underline pointer db w-40 center" href="https://azure.com/" target="_blank" title="microsoft">
                                  <img class="grow" src="/imgs/microsoft.svg" alt="microsoft" title="microsoft" />
                              </a>
                          </div>
  <div class="w-100 pt3 pb6 mt2 hamburg-red-bg white-90 center">
    <div class="w-100 mw8-l mw6-m ph2 ph0-ns center">
      <div class="fl mw5-ns ml6">
          <p class="fw6 tl mv0 white">February 16th</p>
          <p class="fw1 tl mv1">
            <span data-lang="In collaborazione con">In collaboration with</span>
            <a id="serverless-hamburg-meetup" href="https://www.meetup.com/Serverless-Hamburg/" title="Serverless Hamburg Meetup" target="_blank" class="fw5 white">Serverless Hamburg</a>
          </p>
          <p class="fw1 tl mv0">
            <span data-lang="Scrivici a">Email us at</span>
            <a id="jeffconf-hamburg-email-footer" class="fw1 tl mt0 mb1 fw5 white" href="mailto:hamburg@jeffconf.com">hamburg@jeffconf.com</a>
          </p>
          <p class="tl">
              <a href="https://twitter.com/jeffconf" class="twitter-follow-button" data-show-count="false" data-link-color="#000000" data-text-color="#000000">Follow @jeffconf</a>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
      </div>
    </div>
  </div>

  <div class="f6 fw1 w-100 pt1 hamburg-red-bg white-90 pb1">
    <p>
        Copyright &#169; JeffConf 2017 | <span onclick="changePage('imprint')" data-page="imprint" class="pointer underline-hover">Imprint</span>
    </p>
  </div>

 </div>

</footer>
