<footer class="center tc f6">
    <div class="w-100 tc pt3">

        <h4 class="black f3 fw6 tc code mt5 mb3 mb0-ns" id="Media Partners">Media Partners</h4>

        <div class="w-50-ns center pa3">
            <a id="t3n-website" class="no-underline pointer db center" href="https://t3n.de" target="_blank" title="t3n">
                <img class="w-50" src="/imgs/t3n.png" alt="t3n" title="t3n" />
            </a>
        </div>

        <h4 class="black f3 fw6 tc code mt5 mb3 mb0-ns" data-lang="Sponsor" id="sponsors">Sponsors</h4>

        <div class="fl-ns w-20-ns">

            <div class="w-100-ns center pa3">
                <a id="aws-sponsor-website" class="no-underline pointer db center" href="https://aws.amazon.com" target="_blank" title="Amazon Web Services">
                    <img class="w-100" src="/imgs/aws-new.svg" alt="AWS" title="AWS" />
                </a>
            </div>
        </div>

        <div class="fl-ns w-30-ns">
            <div>
                <div class="fl-ns w-50-ns center pa3">
                    <a id="microsoft-sponsor-website" class="no-underline pointer db center" href="https://azure.com/" target="_blank" title="microsoft">
                        <img class="w-100-ns w-50" src="/imgs/microsoft.svg" alt="microsoft" title="microsoft" />
                    </a>
                </div>
                <div class="fl-ns w-50-ns center pa3">
                    <a id="moovel" class="no-underline pointer db center" href="https://moovel.com/" target="_blank" title="moovel">
                        <img class="w-100-ns w-50" src="/imgs/moovel-text.png" alt="moovel" title="moovel" />
                    </a>
                </div>
            </div>
            <div class="fl-ns w-100-ns">
                <div class="fl-ns w-50-ns center pa3">
                    <a id="Nordcloud" class="no-underline pointer db center" href="https://nordcloud.com/" target="_blank" title="nordcloud">
                        <img class="w-100-ns w-50" src="/imgs/Nordcloud_Large_Black.png" alt="nordcloud" title="nordcloud" />
                    </a>
                </div>
                <div class="fl-ns w-50-ns center pa3">
                    <a id="binaris" class="no-underline pointer db center" href="https://binaris.com/" target="_blank" title="binaris">
                        <img class="w-100-ns w-50" src="/imgs/20170915-logo.png" alt="binaris" title="binaris" />
                    </a>
                </div>
                <div class="fl-ns w-50-ns center pa3">
                    <a id="firebase" class="no-underline pointer db center" href="https://firebase.google.com/" target="_blank" title="firebase">
                        <img class="w-100-ns w-50" src="/imgs/firebase-logo-standard.png" alt="firebase" title="firebase" />
                    </a>
                </div>
            </div>
        </div>

        <div class="fl-ns w-50-ns">
            <div class="fl-ns w-100-ns">
                <div class="fl-ns w-30-ns center pa3">
                    <a id="serverless-sponsor-website" class="no-underline pointer db center" href="https://serverless.com/" target="_blank" title="Serverless">
                        <img class="w-70-ns w-30" src="/imgs/serverless.png" alt="Serverless" title="Serverless" />
                    </a>
                </div>
                <div class="fl-ns w-30-ns center pa3">
                    <a id="silpion" class="no-underline pointer db center" href="https://silpion.de/" target="_blank" title="silpion">
                        <img class="w-70-ns w-30" src="/imgs/Silpion-Logo-Schriftzug.png" alt="silpion" title="silpion" />
                    </a>
                </div>
                <div class="fl-ns w-30-ns center pa3">
                    <a id="sinnerschrader" class="no-underline pointer db center" href="https://sinnerschrader.com/" target="_blank" title="SinnerSchrader">
                        <img class="w-70-ns w-30" src="/imgs/s2.jpg" alt="SinnerSchrader" title="SinnerSchrader" />
                    </a>
                </div>
            </div>

            <div class="fl-ns w-100-ns">
                <div class="fl-ns w-30-ns center pa3">
                    <a id="innovocloud" class="no-underline pointer db center" href="https://www.innovo-cloud.de/" target="_blank" title="innovo cloud">
                        <img class="w-70-ns w-30" src="/imgs/iNNOVO_logo.jpg" alt="iNNOVO Cloud" title="iNNOVO Cloud" />
                    </a>
                </div>
                <div class="fl-ns w-30-ns center pa3">
                    <a id="GCP" class="no-underline pointer db center" href="https://cloud.google.com" target="_blank" title="GCP">
                        <img class="w-70-ns w-30" src="/imgs/google-cloud.png" alt="GCP" title="GCP" />
                    </a>
                </div>
                <div class="fl-ns w-30-ns center pa3">
                    <a id="moia" class="no-underline pointer db center" href="https://moia.io/" target="_blank" title="MOIA">
                        <img class="w-70-ns w-30" src="/imgs/moia.png" alt="MOIA" title="MOIA" />
                    </a>
                </div>
            </div>

            <div class="fl-ns w-100-ns">
                <div class="fl-ns w-30-ns center pa3">
                    <a id="akra" class="no-underline pointer db center" href="https://akra.de/" target="_blank" title="akra">
                        <img class="w-70-ns w-30" src="/imgs/akra-logo.png" alt="akra" title="akra" />
                    </a>
                </div>
                <div class="fl-ns w-30-ns center pa3">
                    <a id="ibm" class="no-underline pointer db center" href="https://ibm.com/" target="_blank" title="IBM">
                        <img class="w-60-ns w-30" src="/imgs/ibm-702x336.png" alt="IBM" title="IBM" />
                    </a>
                </div>
                <div class="fl-ns w-30-ns center pa3">
                    <a id="epsagon" class="no-underline pointer db center" href="https://www.epsagon.com/" target="_blank" title="Epsagon">
                        <img class="w-60-ns w-30" src="/imgs/epsagon-hor.png" alt="Epsagon" title="Epsagon" />
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="w-100 tc pt3 cb center">

        <h4 class="black f3 fw6 tc code mt2 mb1 mb0-ns cf">Company sponsors</h4>

        <div class="dib-ns w-10-ns pa3 v-mid">

            <a id="space-ape" class="no-underline pointer db center" href="http://www.spaceapegames.com/" target="_blank" title="Space Ape">
                <img class="w-100-ns w-30" src="/imgs/space-ape.png" alt="Space Ape" title="Space Ape" />
            </a>
        </div>

        <div class="dib-ns w-10-ns pa3 v-mid">

            <a id="appmotion" class="no-underline pointer db center" href="http://www.appmotion.de/" target="_blank" title="Appmotion">
                <img class="w-100-ns w-30" src="/imgs/appmotion_logo_dreizeilig.png" alt="Appmotion" title="Appmotion" />
            </a>
        </div>

        <div class="dib-ns w-10-ns pa3 v-mid">
            <a id="25hours" class="no-underline pointer db center" href="https://www.25hours-hotels.com/hotels/hamburg/number-one" target="_blank" title="25hours">
                <img class="w-100-ns w-30" src="/imgs/25h.png" alt="25hours Hotel" title="25hours Hotel" />
            </a>
        </div>
     
        <div class="dib-ns w-10-ns pa3 v-mid">
            <a id="nycro" class="no-underline pointer db center" href="https//www.nycro.de" target="_blank" title="nycro">
                <img class="w-100-ns w-30" src="/imgs/nycro_logo_2000x500 (1).png" alt="nycro" title="nycro" />
            </a>
        </div>

        <div class="dib-ns w-10-ns pa3 v-mid">
            <a id="liberty-it" class="no-underline pointer db center" href="https://www.liberty-it.co.uk/" target="_blank" title="Liberty IT">
                <img class="w-100-ns w-30" src="/imgs/liberty-it.png" alt="Liberty IT" title="Liberty IT" />
            </a>
        </div>

    </div>

    <div class="w-50-ns center pa3">
        <div class="w-100 pt3 pb6 mt2 hamburg-red-bg white-90 center cb">
            <div class="w-100 mw8-l mw6-m ph2 ph0-ns center">
                <div class="fl mw5-ns ml6">
                    <p class="fw6 tl mv0 white">February 16th</p>
                    <p class="fw1 tl mv1">
                        <span data-lang="In collaborazione con">In collaboration with</span>
                        <a id="serverless-hamburg-meetup" href="https://www.meetup.com/Serverless-Hamburg/" title="Serverless Hamburg Meetup" target="_blank" class="fw5 white">Serverless Hamburg</a>
                    </p>
                    <p class="fw1 tl mv0">
                        <span data-lang="Scrivici a">Email us at</span>
                        <a id="jeffconf-hamburg-email-footer" class="fw1 tl mt0 mb1 fw5 white" href="mailto:hamburg@jeffconf.com">hamburg@jeffconf.com</a>
                    </p>
                    <p class="tl">
                        <a href="https://twitter.com/jeffconf" class="twitter-follow-button" data-show-count="false" data-link-color="#000000" data-text-color="#000000">Follow @jeffconf</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </p>
                </div>
            </div>
        </div>

        <div class="f6 fw1 w-100 pt1 hamburg-red-bg white-90 pb1">
            <p>
                Copyright &#169; JeffConf 2017 | <span onclick="changePage('imprint')" data-page="imprint" class="pointer underline-hover">Imprint</span>
            </p>
        </div>

    </div>

</footer>
