<header class="sans-serif navy">

  <nav class="dt w-100 mw8 center h3-ns">
    <div class="dtc-ns dn v-mid ph3 pv1">
      <div onclick="changePage('home')" class="tc pa1 grow-large pointer">
        <img src="/imgs/jeff-hamburg-small.png" alt="The Hamburg Jeff" height="54" />
      </div>
    </div>
    <div class="dtc v-mid tl-ns tc pa3">
      <div onclick="changePage('home')" data-page="home" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">Home</div>
      <div onclick="changePage('call-for-speakers-workshops')" data-page="call-for-speakers-workshops" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">CfP</div>
      <div onclick="changePage('agenda')" data-page="agenda" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">Agenda</div>
      <div onclick="changePage('speakers')" data-page="speakers" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">Speakers</div>
      <div onclick="changePage('venue')" data-page="venue" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">Venue</div>
      <div onclick="changePage('diversity')" data-page="diversity" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">Diversity</div>
      <div onclick="changePage('coc')" data-page="coc" class="nav-link f5 fw4 pointer underline-hover dib pa1 pa2-ns">Code of Conduct</div>
      <div onclick="changePage('tickets')" class="f5 fw4 shadow-hover no-underline white hamburg-red-bg grow shadow-hover dib ml2 pa2 ba b--transparent br1">Tickets</div>
    </div>
  </nav>

  <div class="dt w-100 vh-50 center cover header-img">
    <div class="dtc">
      <div class="tc-ns mt2 mt3-ns ph3">
        <h1 class="dn f2 f1-l fw2 white-90 mb0 lh-title">JeffConf Hamburg 2018</h1>
        <img src="/imgs/jeffconf-hamburg.png" title="JeffConf Hamburg" alt="JeffConf Hamburg" />
        <div onclick="changePage('tickets')" class="tc mw4 center pv2 hamburg-red-bg white f5 fw4 ba br2 b--transparent pointer grow shadow-hover">
              Buy Tickets
            </div>
      </div>
    </div>
  </div>
  <div class="center mw6 mw7-l hamburg-red-bg pa3 tc ba b--transparent br2 header-stripe">
    <h2 class="ma0 f5 f4-l white code">Hamburg - February 16th 2018 - Altonaer Museum</h2>
  </div>
</header>
