<div id="home" class="dtc w-100">
  <div class="tc tl-ns">
      <div class="black mw6 mw8-ns tc center ph3 ph0-ns">
        <h3 class="f2 fw6 tc code" data-lang="Un giorno. Una conferenza. Una community.">One Day. One Track. One Community.</h3>
        <p class="mw7-ns center"
          data-lang="In collaborazione con il Serverless Italy Meetup, JeffConf è una conferenza che si concentra sul valore dato dall’utilizzo di piattaforme serverless, senza soffermarsi solo sulla parola «Serverless»."
        >
          A collaboration in conjunction with the Serverless Italy Meetup, JeffConf is an attempt to move past the word Serverless, and focus on the use of these platforms and the value they provide. 
        </p>
      </div>

      <div class="cf center dt-ns pt4 pt5-l ph3 ph0-ns">
        <div class="dt-row-ns">

        <article onclick="changePage('venue')" class="dtc-ns black-60 mv1 mv4-ns w-100 w-33-ns mw5 center pointer">
          <img src="/imgs/gvp-small.jpg" class="db w-100 dim" alt="JeffConf Milan 2017 Venue" height="143" />
          <div class="pa2 ph3-ns pb3-ns it-green-bg flag-bg-container">
            <h3 class="mb0 mt1">
              <span class="fw6 f5 f4-ns mv0 white underline-hover" data-lang="Dove">Venue</span>
            </h3>
            <p class="f6 lh-copy measure mt2 white-90" data-lang="Il Grand Visconti Palace è un mix di tradizione e modernità, in una posizione simbolica per la diffusione di nuove idee e culture nell'area milanese.">
              Grand Visconti Palace is a mix of tradition and modernity in Milan, and an iconic location to spread cultural ideas.
            </p>
          </div>
        </article>

        <article onclick="changePage('tickets')" class="dtc-ns black-60 mv1 mv4-ns w-100 w-33-ns mw5 center pointer">
          <img src="/imgs/food.jpg" class="db w-100 dim" alt="JeffConf 2017 Tickets" height="143" />
          <div class="pa2 ph3-ns pb3-ns it-white-bg flag-bg-container bb b--gray">
            <h3 class="mb0 mt1">
              <span class="fw6 f5 f4-ns mv0 underline-hover" data-lang="Biglietti">Tickets</span>
            </h3>
            <p class="f6 lh-copy measure mt2 mid-gray"
              data-lang="La conferenza è stata pensata per essere accessibile a tutta la comunità, con biglietti a partire da 35€.">
              Tickets are reasonably priced from €35 to make sure JeffConf Milan is financially accessible for the community.
            </p>
          </div>
        </article>

        <article onclick="changePage('speakers')" class="dtc-ns black-60 mv1 mv4-ns w-100 w-33-ns mw5 center pointer">
          <img src="/imgs/speakers.jpg" class="db w-100 dim" alt="JeffConf Speakers" height="143" />
          <div class="pa2 ph3-ns pb3-ns it-red-bg flag-bg-container">
            <h3 class="mb0 mt1">
              <span class="fw6 f5 f4-ns mv0 white underline-hover" data-lang="Speaker">Speakers</span>
            </h3>
            <p class="f6 lh-copy measure mt2 white-90 no-underline"
              data-lang="Sviluppatori e ingegneri ci parleranno dei problemi risolti utilizzando tecnologie serverless. L'obiettivo è imparare grazie alla condivisione.">
              Real users showcasing the problems they&#39;ve solved using serverless platforms. Focus is learning through sharing.
            </p>
          </div>
        </article>
        </div>
      </div>
      <div class="black mw6 mw7-ns tc center mt4 ph3 ph0-ns">
        <p data-lang="«Serverless» è diventata una parola di moda. Per alcuni fa riferimento al futuro dello sviluppo software nel cloud, mentre per altri evoca ricordi di marketing dei grandi provider">
        Serverless is a buzzword that has marmite appeal. For some it points to the future of software development in a post cloud world, and for others it evokes memories of vendor marketers playing buzzword bingo.
        </p>
        <p>
          <span data-lang="Nello spirito del blog post di Paul Johnston,">
            In the spirit of Paul Johnston&#39;s blog post,
          </span>
          <a id="serverless-is-just-a-name" class="blue no-underline" href="https://serverless.zone/serverless-is-just-a-name-we-could-have-called-it-jeff-1958dd4c63d7" title="Serverless is just a name" target="_blank"
            data-lang="«Serverless è solo un nome. Avremmo potuto chiamarlo Jeff» (link in inglese)"
          >&#34;Serverless is just a name. We could have called it Jeff&#34;</a>
          <span
           data-lang="è nata JeffConf. È una conferenza organizzata da e per tutta la comunità, in un singolo giorno e con un'unica traccia. JeffConf si concentra sulle soluzioni rese possibili dalle tecnologie serverless (o Jeff!), con l'obiettivo di sostenere la comunità locale, aiutando ciascuno a imparare dagli altri un nuovo modo di progettare applicazioni."
          >, JeffConf is born. It is a community focused, single track, one day conference, that moves away from the word, and focuses on the reality of Jeff (or Serverless) based solutions. It’s about fostering a community locally, and helping all of us learn from each other as we embrace a new way of building applications.</span>
        </p>

      </div>
      <div class="mw6 mw7-ns tc center pv1 pt2-ns pb3-ns">
        <h4 class="black f3 fw6 tc code" data-lang="Programma Diversity">Diversity Program</h4>
        <p data-lang="
          JeffConf vuole valorizzare ed incoraggiare la diversità dei partecipanti nel mondo IT, e stiamo facendo la nostra parte eliminando le barriere finanziarie e offrendo biglietti gratuiti ai nostri «Diversity Partner».
          <br />
          Tutti i partecipanti che condividono questo pensiero possono acquistare i «Diversity Ticket», che includono, oltre all'ingresso standard, un biglietto d'ingresso gratuito per una persona che appartiene a un gruppo poco rappresentato nel settore.
        ">
          At Jeff Conf we value and encourage diversity of our attendees. We're doing our bit by removing the financial barrier to attending by offering Diversity Scholarships for members of groups that promote diversity in tech, and allowing attendees to purchase Diversity sponsorship tickets, paying for a Diversity scholar.
        </p>
        
        <p class="mt4"
        data-lang="Puoi richiedere un Diversity Ticket utilizzando questo link">
          You can apply directly for Diversity Tickets by clicking the link below.
        </p>

        <div class="w-100 center tc mv4">
          <a id="diversity-apply-home" href="https://serverless-italy.typeform.com/to/ZTej0Y" class="tc mw4 center ph4 pv2 v-mid no-underline it-green-bg white f5 fw6 ba br2 b--transparent pointer" target="_blank" data-lang="Richiedi">Apply</a>
        </div>

        <p class="mt5">
          <span
            data-lang="JeffConf sta collaborando con organizzazioni italiane che promuovono la Diversity nel settore IT. Se fai parte di una community che favorisce la diversity e vorresti essere tra i nostri partner, contattaci:"
          >
          We&#39;ve partnered with a number of organisations focused on improving Diversity in tech, listed below. If you're a member of diversity organisation not listed below, let us know and we'll be happy to partner with that organisation:
          </span>
          &nbsp;
          <a id="jeffconf-milan-email-diversity-home" class="no-underline orange fw6" href="mailto:milan@jeffconf.com">milan@jeffconf.com</a>
        </p>
        
        @@include('./diversity-partners.html')
        
      </div>

      <div class="mw6 mw7-ns tc center pv1 pt2-ns pb3-ns">
        <h4 class="black f3 fw6 tc code" data-lang="Media Partner">Media Partners</h4>

        <div class="dt w-100 pb1 pb3-ns pt3">
          <div class="dt-row">
            <div class="dtc w-10"></div>
            <div class="dtc w-40 center tc v-mid">
              <a id="grusp-media" class="no-underline grow pa3 v-mid db mw-100" href="https://www.grusp.org" target="_blank" title="GrUSP"><img class="grow db center" src="/imgs/grusp.svg" width="90" alt="GrUSP" title="GrUSP" /></a>
            </div>
            <div class="dtc w-40 center tc v-mid">
              <a id="apogeo" class="no-underline grow pa3 v-mid db mw-100" href="http://www.apogeonline.com/" target="_blank" title="Apogeo Editore"><img class="grow db center" src="/imgs/apogeo.png" width="200" alt="Apogeo Editore Logo" title="Apogeo Editore Logo" /></a>
            </div>
            <div class="dtc w-10"></div>
          </div>
        </div>
        
      </div>

  </div>
        </div>  