<div id="speakers" class="dn">
  <div>
      <h3 class="black f2 fw6 tc code" data-lang="Speaker">Speakers</h3>

      <div class="dt mw7 mw8-ns mt4 ph3 ph0-ns center w-100">

        <div id="paulj" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Paul Johnston
              </p>
              <p class="f6 gray mt0">
              Movivo
              </p>
              <p class="f6" data-lang="Paul è il CTO di Movivo, azienda il cui prodotto è stato costruito interamente con tecnologie serverless. Questa esperienza gli ha permesso di diventare un membro attivo della community, grazie a numerosi articoli ed interventi sul tema. Inoltre, Paul è uno dei tre ideatori originali di JeffConf.">
              Paul is the CTO of Movivo where he has built his entire product on serverless technologies, whilst actively blogging and regularly speaking about the experience. Paul is also one of the creators of JeffConf.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Paul on Twitter" href="https://twitter.com/PaulDJohnston" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Paul on LinkedIn" href="https://www.linkedin.com/in/padajo/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Paul on Medium" href="https://medium.com/@PaulDJohnston" target="_blank">@@include('./icon-medium.html')</a>
              </div>
            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/paul-johnston.jpg" class="ba br2 b--transparent grow" alt="Photo of Paul" title="Paul Johnston" />
            </div>

          </div>
        </div>

        <div id="danilop" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/danilo-poccia.jpg" alt="Photo of Danilo" title="Danilo Poccia" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Danilo Poccia
              </p>
              <p class="f6 gray mt0">
              Amazon Web Services
              </p>
              <p class="f6" data-lang="Danilo collabora con startup e aziende di ogni dimensione per aiutarle ad innovare. Il suo rolo di Technical Evangelist ad Amazon Web Services e la sua esperienza personale gli permettono di aiutare gli sviluppatori a realizzare le proprie idee, concentrandosi su programmazione ad eventi, architetture serverless e intelligenza artificiale.">
              Danilo works with startups and companies of any size to support their innovation. In his role as Technical Evangelist at Amazon Web Services, he leverages his experience to help people bringing their ideas to life, focusing on event-driven programming and serverless architectures, and on the technical and business impact of machine learning and edge computing.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Danilo on Twitter" href="https://twitter.com/danilop" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Danilo on LinkedIn" href="https://www.linkedin.com/in/dpoccia/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Danilo on Medium" href="https://medium.com/@danilop" target="_blank">@@include('./icon-medium.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="andreau" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Andrea Ulisse
              </p>
              <p class="f6 gray mt0">
              Google
              </p>
              <p class="f6" data-lang="Andrea ha 7 anni di esperienza nello sviluppo di backend efficienti e su larga scala nel Cloud per aziende multinazionali e startup. Attualmente lavora come Solutions Engineer a Google e progetta soluzioni Cloud per il mondo enterprise. Andrea è un vero appassionato di tecnologia e innovazione.">
              Andrea has 7 years of work experience in multinational and startup environments developing performant, scalable, and available back-ends in the Cloud. He's currently a Solutions Engineer at Google, mainly focusing on Cloud solutions for the enterprise world. Andrea is deeply passionate about technology and innovation.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Paul on Twitter" href="https://twitter.com/ulisseandrea" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Andrea on LinkedIn" href="https://www.linkedin.com/in/andreaulisse/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>
            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/andrea-ulisse.jpg" class="ba br2 b--transparent grow" alt="Photo of Andrea" title="Andrea Ulisse" />
            </div>

          </div>
        </div>

        <div id="alexe" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alex-ellis.jpg" alt="Photo of Alex" title="Alex Ellis" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alex Ellis
              </p>
              <p class="f6 gray mt0">
              Docker Captain
              </p>
              <p class="f6" data-lang="Alex Ellis è un Docker Captain e lavora come Principal Developer per ADP, dove ha costruito anni di esperienza supportanto aziende internazionali per più di 500mila clienti. Alex è un poliglotta, un blogger, uno scrittore e un mentore attivo nelle comunità Docker e Raspberry Pi.">
              Alex is a Docker Captain and Principal Developer @ ADP where he has years of experience in the enterprise supporting payroll and HCM for up to 500k clients. He's a polyglot, blogger, published writer and mentor in the Docker and Raspberry Pi community.
              </p>
              <div class="tr">
                <a class="dib v-mid no-underline orange f6 fw1 ph1" href="https://blog.alexellis.io" target="_blank">https://blog.alexellis.io</a>

                <a class="dib v-mid ph1 no-underline" title="Alex on Twitter" href="https://twitter.com/alexellisuk" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="dib v-mid ph1 no-underline" title="Alex on LinkedIn" href="https://www.linkedin.com/in/alexellisuk/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="lucam" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Luca Mezzalira
              </p>
              <p class="f6 gray mt0">
              DAZN
              </p>
              <p class="f6" data-lang="Luca è un Systems Architect con più di 14 di esperienza, un Google Developer Expert su tecnologie web, ed il community manager di London Javascript. Durante la sua carriera, Luca ha avuto la possibilità di lavorare su progetti innovativi legati al mondo mobile, desktop, web, TV e dispositivi embedded.">
              Luca is a Systems Architect with 14 years of experience, a Google Developer Expert on Web Technologies and the London Javascript community Manager.
              He had the chance to work on cutting-edge projects for mobile, desktop, web, TVs, set top boxes and embedded devices.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="dib v-mid ph1 no-underline" title="Luca on Twitter" href="https://twitter.com/lucamezzalira" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="dib v-mid ph1 no-underline" title="Luca on LinkedIn" href="https://www.linkedin.com/in/lucamezzalira/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="dib v-mid ph1 no-underline" title="Luca on Medium" href="https://medium.com/@lucamezzalira" target="_blank">@@include('./icon-medium.html')</a>

                <a class="dib no-underline orange f6 fw1 ph1 v-mid" href="http://www.londonjs.uk" target="_blank">http://www.londonjs.uk</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/luca-mezzalira.jpg" class="ba br2 b--transparent grow" alt="Photo of Luca" title="Luca Mezzalira" />
            </div>

          </div>
        </div>

        <div id="jessicat" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/jessica-tibaldi.jpg" alt="Photo of Jessica" title="Jessica Tibaldi" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Jessica Tibaldi
              </p>
              <p class="f6 gray mt0">
              Microsoft Italia
              </p>
              <p class="f6" data-lang="Jessica lavora come Technical Evangelist per Microsoft Italia.">
              Jessica works in Microsoft as Technical Evangelist since January 2015, where she first managed the Microsoft BizSpark program supporting startups to bring their solutions on Microsoft Azure. In the last year she's been involved in helping software houses build and migrate their solutions on Microsoft Azure.
              </p>
              <p class="f6">
              Pronouns: she/her
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Jessica on Twitter" href="https://twitter.com/_jetiba" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Jessica on LinkedIn" href="https://www.linkedin.com/in/jetiba/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="filippol" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Filippo Liverani
              </p>
              <p class="f6 gray mt0">
              XPeppers
              </p>
              <p class="f6" data-lang="Filippo lavora come sviluppatore, sysadmin e trainer in XPeppers, azienda facente parte del network Cloud Alliance. Filippo aiuta le aziende a realizzare concretamente le loro idee dallo sviluppo alla produzione, attraverso l'uso e l'applicazione dei metodi agili. Filippo è appassionato di Extreme Programming, Domain-driven Design e DevOps.">
              Filippo works as a developer, sysadmin and trainer at XPeppers, which is part of Cloud Alliance. His focus is on helping organizations to incrementally deliver value from development to production applying Agile methods to software development and IT operations. He's passionate about Extreme Programming, Domain-driven Design, and DevOps. 
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Filippo on Twitter" href="https://twitter.com/filippo" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Filippo on LinkedIn" href="https://www.linkedin.com/in/filippoliverani/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/filippo-liverani.jpg" class="ba br2 b--transparent grow" alt="Photo of Filippo" title="Filippo Liverani" />
            </div>

          </div>
        </div>

        <div id="soenker" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/soenke-ruempler.jpg" alt="Photo of Soenke" title="Soenke Ruempler" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Soenke Ruempler
              </p>
              <p class="f6 gray mt0">
              Serverless Hamburg
              </p>
              <p class="f6" data-lang="Soenke è un membro attivo della community serverless e fondatore del Serverless Meetup di Amburgo, nato nel 2016. Quando non è in compagnia della sua famiglia o della sua barca a vela, lavora come consulente freelance e aiuta aziende internazionali nell'integrazione di pratiche DevOps e tecnologie Cloud.">
              Soenke is an active member of the serverless community. He founded the Serverless Meetup Hamburg in 2016. When not spending time with his family or his sailboat, he works as a freelance consultant with a focus on DevOps and Cloud transitions, as well as serverless architectures.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="dib no-underline orange f6 fw1 ph1 v-mid" href="https://ruempler.eu" target="_blank">https://ruempler.eu</a>

                <a class="dib v-mid ph1 no-underline" title="Soenke on Twitter" href="https://twitter.com/s0enke" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="dib v-mid ph1 no-underline" title="Soenke on LinkedIn" href="https://www.linkedin.com/in/s0enke/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="albertom" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Alberto Francesco Motta
              </p>
              <p class="f6 gray mt0">
              Cloud Academy
              </p>
              <p class="f6" data-lang="Alberto è laureato in legge e sarebbe dovuto diventare un avvocato, prima che scoprisse il mondo dello sviluppo web (un amore a prima vista!). Alberto adora innovare e passa il suo tempo libero a sperimentare con tutti i nuovi strumenti che trova su HackerNews.">
              Alberto has a Masters Degree in Law and was supposed to became a lawyer, until he discovered the world of web development - it was love at first sight. He's passionate about innovation and loves to work with all the shiny new toys he finds on HackerNews.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Alberto on Twitter" href="https://twitter.com/albertofmotta" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Alberto on LinkedIn" href="https://www.linkedin.com/in/albertofrancescomotta/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Alberto on Medium" href="https://medium.com/@alberto.motta.86" target="_blank">@@include('./icon-medium.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alberto-motta.jpg" class="ba br2 b--transparent grow" alt="Photo of Alberto" title="Alberto Motta" />
            </div>

          </div>
        </div>

        <div id="cyler" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/cyle-riggs.jpg" alt="Photo of Cyle" title="Cyle Riggs" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Cyle Riggs
              </p>
              <p class="f6 gray mt0">
              Container Solutions
              </p>
              <p class="f6" data-lang="Cyle si è unito a Container Solutions nel 2017 come sviluppatore Cloud, dopo aver lavorato per quattro anni per AWS. Il suo focus principale è sui casi d'uso e sui dettagli implementativi delle tecnologie moderne, specialmente quelle legate al Cloud. Oltre al lavoro, Cyle è un appassionato di viaggi e natura.">
              Cyle joined Container Solutions this year as a cloud native developer/consultant after spending four years as a developer at AWS. He is focused on the implementation and use cases of modern and postmodern technologies. Outside of his career he is focused on travel and nature.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Cyle on Twitter" href="https://twitter.com/beardedfoo" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Cyle on LinkedIn" href="https://www.linkedin.com/in/cyleriggs/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="alessandrom" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Alessandro Mazzoli
              </p>
              <p class="f6 gray mt0">
              Ideato
              </p>
              <p class="f6" data-lang="Alessandro lavora come amministratore di sistema e Cloud architect per Ideato. Oltre ad essere certificato come AWS Solutions Architect and SysOps, il lavoro di Alessandro si concentra su argomenti legati a DevOps, containers e serverless.">
              Alessandro is a System Administrator and Cloud Architect at Ideato. He's also an AWS Solutions Architect / System Administrator and loves designing infrastructures. He's focusing on topics such as DevOps, containerization, and Serverless.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Alessandro on Twitter" href="https://twitter.com/alendmazz" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Gianvito on LinkedIn" href="https://www.linkedin.com/in/alessandro-mazzoli-10b8b98b/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alessandro-mazzoli.jpg" class="ba br2 b--transparent grow" alt="Photo of Alessandro" title="Alessandro Mazzoli" />
            </div>

          </div>
        </div>

        <div id="gianvitos" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/gianvito-siciliano.jpg" alt="Photo of Gianvito" title="Gianvito Siciliano" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Gianvito Siciliano
              </p>
              <p class="f6 gray mt0">
              AgileLab
              </p>
              <p class="f6" data-lang="Gianvito è un (big) data engineer ad AgileLab, dove si sta specializzando in Machine Learning applicato su large scala. Gianvito ama giocare con piattaforme di analisi dei dati come Spark e scrivere codice scalabile con linguaggi funzionali. In questo periodo, Gianvito sta progettando il prototipo di uno Smart Digital Assistant sullo stack serverless di Azure ed i Microsoft Cognitive Services.">
              Gianvito is a (big) data engineer at AgileLab. He is specialising in applied large scale Machine Learning, he loves to play with data processing platform such as Spark, as well as writing scalable code with functional languages. He's currently prototyping a Smart Digital Assistant based on Azure's serverless stack and Microsoft Cognitive Services.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Gianvito on Twitter" href="https://twitter.com/janvier_S" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Gianvito on LinkedIn" href="https://www.linkedin.com/in/gianvi/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Gianvito on Medium" href="https://medium.com/@fase_jhn" target="_blank">@@include('./icon-medium.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="linot" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Lino Telera
              </p>
              <p class="f6 gray mt0">
              VMware User Group Italia
              </p>
              <p class="f6" data-lang="Lino è uno sviluppatore e system integrator dal 2001, system admin e virtualization specialist dal 2008. Ora lavora come Cloud specialist e Cloud integrator per un service provider italiano. Lino è anche un board member di VMUG.it e un delegato di TechFieldDay, blogger, mentore e coach per Cloud Native Applications.">
              Lino is a Software developer and system integrator since 2001, system administrator and virtualization specialist since 2008. He's now working as Cloud specialist and Cloud integrator in an Italian service provider. Lino is also a VMUG.it board member and TechFieldDay delegate. He loves blogging, mentoring and coaching for Cloud Native Applications.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="dib v-mid ph1 no-underline" title="Lino on Twitter" href="https://twitter.com/linotelera" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="dib v-mid ph1 no-underline" title="Lino on LinkedIn" href="https://www.linkedin.com/in/lino-telera-6973099/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="dib no-underline orange f6 fw1 ph1 v-mid" href="http://blog.linoproject.net" target="_blank">http://blog.linoproject.net</a>

              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/lino-telera.jpg" class="ba br2 b--transparent grow" alt="Photo of Lino" title="Lino Telera" />
            </div>

          </div>
        </div>

        <div id="alessioc" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alessio-coser.jpg" alt="Photo of Alessio" title="Alessio Coser" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alessio Coser
              </p>
              <p class="f6 gray mt0">
              XPeppers
              </p>
              <p class="f6" data-lang="Alessio è un Agile Developer che vive e lavora a Trento in XPeppers, azienda del network Cloud Alliance. Amante di Javascript e Ruby, non disdegna gli altri linguaggi quando più adatti a risolvere il problema che ha di fronte.Molto curioso di natura, sta esplorando da tempo le nuove possibilità derivanti dall'adozione di architetture Serverless e dall'uso di FaaS e ChatBot.">
              Alessio is an Agile Developer at XPeppers, which is part of Cloud Alliance. He loves coding with JavaScript and Ruby, and exploring new technologies such as Serverless architectures, FaaS, and ChatBots.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Alessio on Twitter" href="https://twitter.com/AlessioCoser" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Alessio on LinkedIn" href="https://www.linkedin.com/in/alessiocoser/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="lucaba" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Luca Barzè
              </p>
              <p class="f6 gray mt0">
              SIA
              </p>
              <p class="f6" data-lang="Luca lavora da tre anni nel mondo dell'IT presso SIA, dove svolge le funzioni di solution architect all'interno del gruppo Innovation hub. Il suo lavoro consiste nel coniugare i requisiti di business con i corretti (sperabilmente innovativi) strumenti tecnologici. Luca ha conosciuto le architetture serverless nel corso dell'ultimo anno e pensa che il lungo viaggio per l'eliminazione delle dolorose procedure per la preparazione degli ambienti è quasi giunto al termine.​">
              Luca has been in the IT industry for the past three years, working in SIA as a solutions architect in the Innovation Hub team. His job is to match the business requirements with the correct (and hopefully innovative) tool.
              He stumbled into serverless architectures during the last year and he thinks the long journey to reduce the pain of environments preparation has quite come to an end.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Luca on LinkedIn" href="https://www.linkedin.com/in/barze/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/luca-barze.jpg" class="br2 br--top b--transparent grow" alt="Photo of Luca" title="Luca Barzè" />
            </div>

          </div>
        </div>

      </div>

        <div id="marcop" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/marco-parenzan.jpg" alt="Photo of Marco" title="Marco Parenzan" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Marco Parenzan
              </p>
              <p class="f6 gray mt0">
              1nn0va
              </p>
              <p class="f6" data-lang="Marco è uno sviluppatore .NET, è diventato Azure MVP dal 2014, ha scritto un libro su Azure nel 2016, e lavora come consulente per sistemi Cloud e IoT. Attualmente Marco è community lead per 1nn0va, una community Microsoft di Pordenone, ed è un appassionato di giochi retrò e fumetti.">
              Marco Parenzan is an independent Cloud and IoT Architect and .NET Developer. He is a Microsoft Azure MVP since 2014 and wrote a book on Azure in 2016. 
              Marco is a community lead at 1nn0va, an official Microsoft community in Pordenone, Italy, and he loves developing retrogames and reading comix.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Marco on Twitter" href="https://twitter.com/marco_parenzan" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Marco on LinkedIn" href="https://www.linkedin.com/in/marcoparenzan/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="albertob" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alberto Begliardo
              </p>
              <p class="f6 gray mt0">
              Bagubits
              </p>
              <p class="f6" data-lang="Alberto ha studiato ingegneria informatica al Politecnico di Torino e dal 2008 lavora nel mondo del web legato allo sport, partecipando con RAI e FIFA ad eventi nazionali.
              Nel 2012 fonda una web agency e nel 2017 una startup, entrambe supportate dal cloud di AWS.">
                Alberto studied software engineering at Polytechnic of Turin and he's been working in tech/web since 2008, collaborating with Italian organizations such as RAI and FIFA. In 2012 he founded a web agency and he recently founded a startup in Italy, both powered by the AWS Cloud.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Alberto on Twitter" href="https://twitter.com/BaguBit" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Alberto on LinkedIn" href="https://www.linkedin.com/in/albertobegliardo/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alberto-begliardo.jpg" class="br2 br--top b--transparent grow" alt="Photo of Alberto" title="Alberto Begliardo" />
            </div>

          </div>
        </div>

        <div id="alessandrov" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alessandro-vitale.jpg" alt="Photo of Alessandro" title="Alessandro Vitale" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alessandro Vitale
              </p>
              <p class="f6 gray mt0">
              Conversate
              </p>
              <p class="f6" data-lang="Alessandro Vitale è un esperto di intelligenza artificiale ed un imprenditore seriale. Nel 2016 ha fondato Conversate a Londra, la prima piattaforma enterprise per chatbot intelligenti. Precedentemente ha fondato Optimist AI e, prima di diventare imprenditore, ha lavorato per anni a Siemens come responsabile per la strategia in Italia ed Europa.">
              Alessandro Vitale is an AI expert and a serial entrepreneur.
              In 2016 he founded Conversate in London, the first enterprise platform for intelligent chatbots.
              Previously he founded Optimist AI and, before being an entrepreneur, Alessandro worked for years in Siemens with growing responsibilities in Italy and Europe in the strategy department.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Alessandro on Twitter" href="https://twitter.com/alevitale" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Alessandro on LinkedIn" href="https://www.linkedin.com/in/alessandrovitale/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Alessandro on Medium" href="https://medium.com/@alevitale" target="_blank">@@include('./icon-medium.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="anoopr" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Anoop Ramachandran
              </p>
              <p class="f6 gray mt0">
              MainAd
              </p>
              <p class="f6" data-lang="Anoop è un pioniere nel design e implementazione di progetti R&amp;D, ed ha giocato un ruolo chiave nel lancio di Logico, la tecnologia proprietaria di MainAd. Insieme al suo team, Anoop sviluppa processi per assicurare che MainAd rimanga competitiva nel mercato digitale, offrendo soluzioni in grado di valorizzarne i partner.">
              Driving success, researching technologies and delivering solid and reliable solutions form MainAd's affable CTO Anoop's activities.
              A pioneer of building in-house platforms and R&amp;D projects, Anoop played a central part in the development and launch of MainAd's proprietary tech, Logico.
              Along with his team, Anoop's dedicated process ensures MainAd's tech competence stays competitive in the dynamic digital landscape, providing solutions to help add value for partners.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Anoop on LinkedIn" href="https://www.linkedin.com/in/anoop-r-7640a717/" target="_blank">@@include('./icon-linkedin.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/anoop-ramachandran.jpg" class="br2 br--top b--transparent grow" alt="Photo of Anoop" title="Anoop Ramachandran" />
            </div>

          </div>
        </div>

        <div id="alexc" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
          <div class="dt w-100 pv2 bb b--gray">
            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/alex-casalboni.jpg" alt="Photo of Alex" title="Alex Casalboni" class="grow"/>
            </div>
            <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="mb0">
              Alex Casalboni
              </p>
              <p class="f6 gray mt0">
              Cloud Academy
              </p>
              <p class="f6" data-lang="Alex è un ingegnere del software, affascinato dalle tecnologie web, dalla musica e dai viaggi. Attualmente lavora come Sr. Software Engineer e Cloud Evangelist per Cloud Academy, una posizione che gli ha permesso di scoprire ed approfondire la sua conoscenza del Cloud e utilizzarlo per progetti legati al web, all'intelligenza artificiale e all'analisi dei dati. Alex è anche uno dei fondatori del Serverless Italy Meetup.">
              Alex is a Software Engineer, deeply passionate about serverless technologies, music, and traveling.
              He's currently a Sr. Software Engineer and Cloud Evangelist at Cloud Academy, a position that gave him the possibility to discover the Cloud world and develop its potential as a web developer and data scientist.
              He is one of the founders of the Serverless Italy Meetup.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tr">
                <a class="ph1 no-underline" title="Alex on Twitter" href="https://twitter.com/alex_casalboni" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Alex on LinkedIn" href="https://www.linkedin.com/in/alexcasalboni/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Alex on Medium" href="https://medium.com/@alexcasalboni" target="_blank">@@include('./icon-medium.html')</a>
              </div>

            </div>
          </div>
        </div>

        <div id="lucab" class="dt-row w-100 mb3">
          <div class="dt w-100 pv2 bb b--gray">
            
            <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
              <p class="f4 mb0">
              Luca Bianchi
              </p>
              <p class="f6 gray mt0">
              Neosperience
              </p>
              <p class="f6" data-lang="Luca scrive codice da più di un decennio, sia clientside che serverside, e lavora come CTO per Neosperience,  adottando il paradigma serverless fin dai primi esordi di AWS Lambda. Luca è appassionato di DevOps, IoT e chatbot, e impiega il suo tempo libero scrivendo codice e sperimentando. Inoltre, Luca è uno dei fondatori del Serverless Italy Meetup.">
              Luca Bianchi has been writing code from more than a decade, both on client and server side. Embracing the serverless paradigm since its early days, he serves as Chief Technology Officer and Principal Engineer at Neosperience. Passionate about DevOps, IoT and chatbots, in his spare time he loves writing code and prototyping stuff.
              He is one of the founders of the Serverless Italy Meetup.
              </p>
              <p class="f6">
              Pronouns: he/him
              </p>
              <div class="tl">
                <a class="ph1 no-underline" title="Luca on Twitter" href="https://twitter.com/bianchiluca" target="_blank">@@include('./icon-twitter.html')</a>

                <a class="ph1 no-underline" title="Luca on LinkedIn" href="https://www.linkedin.com/in/lucabianchipavia/" target="_blank">@@include('./icon-linkedin.html')</a>

                <a class="ph1 no-underline" title="Luca on Medium" href="https://medium.com/@aletheia" target="_blank">@@include('./icon-medium.html')</a>
              </div>

            </div>

            <div class="dtc w-20 pa2 pv3 v-mid">
              <img src="/imgs/luca-bianchi.jpg" class="ba br2 b--transparent grow" alt="Photo of Luca" title="Luca Bianchi" />
            </div>

          </div>
        </div>

  </div>
</div>