<div id="speakers" class="dn">
    <div>
        <h3 class="black f2 fw6 tc code" >Speakers</h3>

        <div class="dt mw7 mw8-ns mt4 ph3 ph0-ns center w-100">

            <p class="b tc w-100">We'll add more speakers as they get confirmed.</p>

            <div id="manurink" class="dt-row w-100 mb3">
                <div class="dt w-100 pv2 bb b--gray">

                    <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
                        <p class="f4 mb0">
                            Manu Rink
                        </p>
                        <p class="f6 gray mt0">
                            Microsoft
                        </p>
                        <p class="f6" >
                            Manu Rink* is a mobile enthusiast long before the dawn of the smartphone. After working in the enterprise business, she finally dropped the mic, made her passion to her profession and worked as a mobile software engineer and architect for a couple of #1 apps. Currently she shares her passion as a tech evangelist @Microsoft and inspires a wide audience of techies for her beloved topics including mobile development, serverless computing and gaming.<br><br>*raised by Super Mario and Yoshi
                        </p>
                        <p class="f6">
                        </p>
                        <div class="tl">
                            <a class="ph1 no-underline" title="Manu on Twitter" href="https://twitter.com/codeprincess" target="_blank">@@include('./icon-twitter.html')</a>


                        </div>

                    </div>

                    <div class="dtc w-20 pa2 pv3 v-mid">
                        <img src="/imgs/manu-rink.jpg" class="ba br2 b--transparent grow" alt="Photo of Manu" title="Manu Rink" />
                    </div>

                </div>
            </div>

        <div id="alexc" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/alex-casalboni.jpg" alt="Photo of Alex" title="Alex Casalboni" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Alex Casalboni
                    </p>
                    <p class="f6 gray mt0">
                        Cloud Academy
                    </p>
                    <p class="f6" >
                        Alex is a Software Engineer, deeply passionate about serverless technologies, music, and traveling.
                        He's currently a Sr. Software Engineer and Cloud Evangelist at Cloud Academy, a position that gave him the possibility to discover the Cloud world and develop its potential as a web developer and data scientist.
                        He is one of the founders of the Serverless Italy Meetup.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr">
                        <a class="ph1 no-underline" title="Alex on Twitter" href="https://twitter.com/alex_casalboni" target="_blank">@@include('./icon-twitter.html')</a>

                        <a class="ph1 no-underline" title="Alex on LinkedIn" href="https://www.linkedin.com/in/alexcasalboni/" target="_blank">@@include('./icon-linkedin.html')</a>

                        <a class="ph1 no-underline" title="Alex on Medium" href="https://medium.com/@alexcasalboni" target="_blank">@@include('./icon-medium.html')</a>
                    </div>

                </div>
            </div>
        </div>

            <div id="paulj" class="dt-row w-100 mb3">
                <div class="dt w-100 pv2 bb b--gray">

                    <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
                        <p class="f4 mb0">
                            Paul Johnston
                        </p>
                        <p class="f6 gray mt0">
                            Movivo
                        </p>
                        <p class="f6" >
                            Paul was the CTO of Movivo where he has built his entire product on serverless technologies, whilst actively blogging and regularly speaking about the experience. Paul is also one of the creators of JeffConf.
                        </p>
                        <p class="f6">
                            Pronouns: he/him
                        </p>
                        <div class="tl">
                            <a class="ph1 no-underline" title="Paul on Twitter" href="https://twitter.com/PaulDJohnston" target="_blank">@@include('./icon-twitter.html')</a>

                            <a class="ph1 no-underline" title="Paul on LinkedIn" href="https://www.linkedin.com/in/padajo/" target="_blank">@@include('./icon-linkedin.html')</a>

                            <a class="ph1 no-underline" title="Paul on Medium" href="https://medium.com/@PaulDJohnston" target="_blank">@@include('./icon-medium.html')</a>
                        </div>
                    </div>

                    <div class="dtc w-20 pa2 pv3 v-mid">
                        <img src="/imgs/paul-johnston.jpg" class="ba br2 b--transparent grow" alt="Photo of Paul" title="Paul Johnston" />
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>