<div id="speakers" class="dn">
    <div>
        <h3 class="black f2 fw6 tc code" >Speakers</h3>

        <div class="dt mw7 mw8-ns mt4 ph3 ph0-ns center w-100">

            <div id="manur" class="dt-row w-100 mb3">
                <div class="dt w-100 pv2 bb b--gray">

                    <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
                        <p class="f4 mb0">
                            Manu Rink
                        </p>
                        <p class="f6 gray mt0">
                            Microsoft
                        </p>
                        <p class="f6" >
                            Manu Rink* is a mobile enthusiast long before the dawn of the smartphone. After working in the enterprise business, she finally dropped the mic, made her passion to her profession and worked as a mobile software engineer and architect for a couple of #1 apps. Currently she shares her passion as a tech evangelist @Microsoft and inspires a wide audience of techies for her beloved topics including mobile development, serverless computing and gaming.<br><br>*raised by Super Mario and Yoshi
                        </p>
                        <p class="f6">
                            Pronouns: she/her
                        </p>
                        <div class="tl">
                            <a class="ph1 no-underline" title="Manu on Twitter" href="https://twitter.com/codeprincess" target="_blank">@@include('./icon-twitter.html')</a>
                            <a class="ph1 no-underline" title="Manu on LinkedIn" href="https://www.linkedin.com/in/codeprincess/" target="_blank">@@include('./icon-linkedin.html')</a>

                            <a class="ph1 no-underline" title="Manu on Medium" href="https://medium.com/@codeprincess" target="_blank">@@include('./icon-medium.html')</a>
                        </div>

                    </div>

                    <div class="dtc w-20 pa2 pv3 v-mid">
                        <img src="/imgs/manu-rink.jpg" class="ba br2 b--transparent grow" alt="Photo of Manu" title="Manu Rink" />
                    </div>

                </div>
            </div>

        <div id="alexc" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/alex-casalboni.jpg" alt="Photo of Alex" title="Alex Casalboni" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Alex Casalboni
                    </p>
                    <p class="f6 gray mt0">
                        Cloud Academy
                    </p>
                    <p class="f6" >
                        Alex is a Software Engineer, deeply passionate about serverless technologies, music, and traveling.
                        He's currently a Sr. Software Engineer and Cloud Evangelist at Cloud Academy, a position that gave him the possibility to discover the Cloud world and develop its potential as a web developer and data scientist.
                        He is one of the founders of the Serverless Italy Meetup.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr">
                        <a class="ph1 no-underline" title="Alex on Twitter" href="https://twitter.com/alex_casalboni" target="_blank">@@include('./icon-twitter.html')</a>

                        <a class="ph1 no-underline" title="Alex on LinkedIn" href="https://www.linkedin.com/in/alexcasalboni/" target="_blank">@@include('./icon-linkedin.html')</a>

                        <a class="ph1 no-underline" title="Alex on Medium" href="https://medium.com/@alexcasalboni" target="_blank">@@include('./icon-medium.html')</a>
                    </div>

                </div>
            </div>
        </div>

            <div id="paulj" class="dt-row w-100 mb3">
                <div class="dt w-100 pv2 bb b--gray">

                    <div class="dtc w-80 pa2 pb0 tl nested-copy-line-height v-top">
                        <p class="f4 mb0">
                            Paul Johnston
                        </p>
                        <p class="f6 gray mt0">
                            Amazon Web Services
                        </p>
                        <p class="f6" >
                            Paul is Senior Developer Advocate for Serverless at AWS working in EMEA. He is former CTO of Movivo - a startup working in 20 countries to provide free top up/recharge to those who struggle to afford it and built on a fully serverless architecture (on AWS). He is a prolific blogger about Serverless on Medium. Paul has previously started startups, been a consultant CTO to a number of startups in the past decade and developed mobile products and solutions for global brands such as Sony. Paul also is a director of a community energy scheme that is aiming to take it’s community ‘off grid’ and lives a bit outside of London in Milton Keynes (there are bits of the UK that aren’t London!) with his wife and 5 kids.
                        </p>
                        <p class="f6">
                            Pronouns: he/him
                        </p>
                        <div class="tl">
                            <a class="ph1 no-underline" title="Paul on Twitter" href="https://twitter.com/PaulDJohnston" target="_blank">@@include('./icon-twitter.html')</a>

                            <a class="ph1 no-underline" title="Paul on LinkedIn" href="https://www.linkedin.com/in/padajo/" target="_blank">@@include('./icon-linkedin.html')</a>

                            <a class="ph1 no-underline" title="Paul on Medium" href="https://medium.com/@PaulDJohnston" target="_blank">@@include('./icon-medium.html')</a>
                        </div>
                    </div>

                    <div class="dtc w-20 pa2 pv3 v-mid">
                        <img src="/imgs/paul-johnston.jpg" class="ba br2 b--transparent grow" alt="Photo of Paul" title="Paul Johnston" />
                    </div>

                </div>
            </div>

            <div id="annad" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
                <div class="dt w-100 pv2 bb b--gray">
                    <div class="dtc w-20 pa2 pv3 v-mid">
                        <img src="/imgs/anna-doubkova.jpg" alt="Photo of Anna" title="Anna Doubková" class="grow"/>
                    </div>
                    <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                        <p class="mb0">
                            Anna Doubková
                        </p>
                        <p class="f6 gray mt0">
                            Hive (British Gas)
                        </p>
                        <p class="f6" >
                            Anna is a Javascript developer who loves working with new technologies. Currently working at Hive (British Gas), she does full-stack development to deliver a great end to end solution focused on user experience. She's a frequent speaker, runs workshops, and likes contributing to the community.
                        </p>
                        <p class="f6">
                            Pronouns: she/her
                        </p>
                        <div class="tr">
                            <a class="ph1 no-underline" title="Anna on Twitter" href="https://twitter.com/lithinn" target="_blank">@@include('./icon-twitter.html')</a>

                        </div>

                    </div>
                </div>
            </div>

            <div id="yanc" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
                <div class="dt w-100 pv2 bb b--gray">
                    <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                        <p class="mb0">
                            Yan Cui
                        </p>
                        <p class="f6 gray mt0">
                            Space Ape Games
                        </p>
                        <p class="f6" >
                            Yan is an experienced engineer who has worked with AWS for near 10 years. He has been an architect and lead developer with a variety of industries ranging from investment banks, e-commence to mobile gaming. In the last 2 years he has worked extensively with AWS Lambda in production, and he has been very active in sharing his experiences and the lessons he has learnt, some of his work has even made their way into the Well-Architected whitepaper published by AWS.<br><br>

                            Yan is polyglot in both spoken and programming languages, he is fluent in both English and Mandarin, and can count C#, F#, Scala, Node.js and Erlang amongst programming languages that he has worked with professionally. Although he enjoys learning different programming languages and paradigms, he still holds F# as his undisputed favourite.<br><br>

                            Yan is a regular speaker at user groups and conferences internationally, and he is also the author of AWS Lambda in Motion and a co-author of F# Deep Dives. In his spare time he keeps an active blog at <a href="http://theburningmonk.com" target="_blank">theburningmonk.com</a> where he shares his thoughts on topics such as AWS, serverless, functional programming and chaos engineering.
                        </p>
                        <p class="f6">
                            Pronouns: he/him
                        </p>
                        <div class="tl">
                            <a class="ph1 no-underline" title="Yan on Twitter" href="https://twitter.com/theburningmonk" target="_blank">@@include('./icon-twitter.html')</a>
                            <a class="ph1 no-underline" title="Yan on LinkedIn" href="https://www.linkedin.com/in/theburningmonk/" target="_blank">@@include('./icon-linkedin.html')</a>

                        </div>

                    </div>


                    <div class="dtc w-20 pa2 pv3 v-mid">
                        <img src="/imgs/yan-cui.png" class="ba br2 b--transparent grow" alt="Photo of Yan" title="Yan Cui" />
                    </div>

                </div>
            </div>


        </div>


        <div id="oliverz" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/oliver-zeigermann.jpg" alt="Photo of Oliver" title="Oliver Zeigermann" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Oliver Zeigermann
                    </p>
                    <p class="f6 gray mt0">
                        floreysoft. embarc, freelancer
                    </p>
                    <p class="f6" >
                        Oliver Zeigermann is a software developer from Hamburg, Germany.
                        He has developed software in many different languages and technologies
                        over the past couple of decades, including C, C++, Java, Python, and
                        JavaScript.<br>
                        For the past few years he dived into machine learning and data visualization.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr">
                        <a class="ph1 no-underline" title="Oliver on Twitter" href="https://twitter.com/DJCordhose" target="_blank">@@include('./icon-twitter.html')</a>

                    </div>

                </div>
            </div>
        </div>

        <div id="danielb" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Daniel Buchholz
                    </p>
                    <p class="f6 gray mt0">
                        GHX Europe GmbH
                    </p>
                    <p class="f6" >
                        Daniel is a Software Engineering Manager and Cloud Architect for a company supporting the Healthcare Supply Chain of suppliers, providers and distributors in the healthcare sector worldwide. He has spent 15 years in this business, starting as a software engineer. Today he is part of a team defining a new global Catalog Management foundation for the company and also an occasional contributor to local AWS meetups in Dortmund, Germany.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tl">
                        <a class="ph1 no-underline" title="Daniel on Twitter" href="https://twitter.com/danbdo" target="_blank">@@include('./icon-twitter.html')</a>

                    </div>

                </div>
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/daniel-buchholz.jpg" class="ba br2 b--transparent grow" alt="Photo of Daniel" title="Daniel Buchholz" />
                </div>

            </div>
        </div>

        <div id="philippm" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/philipp-muens.jpg" alt="Photo of Philipp" title="Philipp Müns" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Philipp Müns
                    </p>
                    <p class="f6 gray mt0">
                        Serverless, Inc.
                    </p>
                    <p class="f6" >
                        Philipp Müns is a core developer at Serverless, Inc. He works on the team in charge of building and maintaining the Serverless Framework — an application framework for building web, mobile and IoT applications powered by AWS Lambda, Azure Functions, Google Cloud Functions and more.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr f6">
                        <a class="ph1 no-underline" title="Philipp on Twitter" href="https://twitter.com/pmmuens" target="_blank">@@include('./icon-twitter.html')</a>
                        <a class="ph1 no-underline" title="Philipp on LinkedIn" href="https://www.linkedin.com/in/pmuens/" target="_blank">@@include('./icon-linkedin.html')</a>
                        <a href="http://philippmuens.com" target="_blank">philippmuens.com</a>

                    </div>

                </div>
            </div>
        </div>

        <div id="larst" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Lars Trieloff
                    </p>
                    <p class="f6 gray mt0">
                        Adobe
                    </p>
                    <p class="f6" >
                        Lars Trieloff is a principal at Adobe, combining expertise from the fields of software engineering, product management, and marketing and applying it to the evolution and improvement of Adobe's developer ecosystem and the Adobe Cloud Platform. He has been involved with Serverless computing since 2016, and with cloud computing a decade longer.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tl">
                        <a class="ph1 no-underline" title="Lars on Twitter" href="https://twitter.com/trieloff" target="_blank">@@include('./icon-twitter.html')</a>
                        <a class="ph1 no-underline" title="Lars on Medium" href="https://medium.com/@AdobeIO" target="_blank">@@include('./icon-medium.html')</a>

                    </div>

                </div>
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/lars-trieloff.jpg" class="ba br2 b--transparent grow" alt="Photo of Lars" title="Lars Trieloff" />
                </div>

            </div>
        </div>


        <div id="cyler" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/cyle-riggs.jpg" alt="Photo of Cyle" title="Cyle Riggs" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Cyle Riggs
                    </p>
                    <p class="f6 gray mt0">
                        Container Solutions
                    </p>
                    <p class="f6">
                        Cyle joined Container Solutions in 2017 as a cloud native developer/consultant after spending four years as a developer at AWS. He is focused on the implementation and use cases of modern and postmodern technologies. Outside of his career he is focused on travel and nature.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr">
                        <a class="ph1 no-underline" title="Cyle on Twitter" href="https://twitter.com/beardedfoo" target="_blank">@@include('./icon-twitter.html')</a>

                        <a class="ph1 no-underline" title="Cyle on GitHub" href="https://github.com/beardedfoo" target="_blank">@@include('./icon-github.html')</a>
                    </div>

                </div>
            </div>
        </div>

        <div id="simonw" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Simon Wardley
                    </p>
                    <p class="f6 gray mt0">
                        Leading Edge Forum
                    </p>
                    <p class="f6">
                        Simon Wardley is a Researcher for Leading Edge Forum, a global research and thought leadership programme dedicated to helping large organizations reimagine their organizations and leadership for a technology-driven future. Simon is also lead practitioner for LEFs Wardley Maps Advisory service which helps client anticipate market and ecosystem developments so they know where to go and why.
                    </p>
                    <p class="f6">
                        Simon&#39s focus is on strategic play both at an industrial and global level. He is the author of multiple reports including Clash of the Titans: Can China Dethrone Silicon Valley?, a pioneer in the use of topographical intelligence within business, a former executive and an advisory board member for several successful start-ups. He has twice been voted as one of the UK&#39s top 50 most influential people in technology. Simon has spent the last 20 years defining future strategies for companies in the FMCG, Retail and Technology industries. He is a passionate advocate in the fields of strategic play, organizational structure, open source and leadership and is a regular presenter at conferences worldwide.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>

                    <div class="tl">
                        <a class="no-underline orange f6 fw1 ph1 v-top" href="http://blog.gardeviance.org/" target="_blank">http://blog.gardeviance.org/</a>

                        <a class="ph1 no-underline" title="Simon on Twitter" href="https://twitter.com/swardley" target="_blank">@@include('./icon-twitter.html')</a>
                        <a class="ph1 no-underline" title="Simon on Medium" href="https://medium.com/@swardley" target="_blank">@@include('./icon-medium.html')</a>
                    </div>

                </div>
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/simon-wardley.jpg" class="ba br2 b--transparent grow" alt="Photo of Simon" title="Simon Wardley" />
                </div>

            </div>
        </div>

        <div id="subbua" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/subbu-allamaraju.jpg" alt="Photo of Subbu" title="Subbu Allamaraju" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Subbu Allamaraju
                    </p>
                    <p class="f6 gray mt0">
                        Expedia Inc
                    </p>
                    <p class="f6">
Subbu Allamaraju is a technologist fascinated by large ambiguous problems and the learning opportunities such problems present. He is an influential voice both within Expedia, where he is currently a Vice President of Technology, and the industry.  Subbu is passionate about all things related to cloud, infrastructure, platforms, operations, the intersection of culture and technology, and the evolution of cloud native technologies and architectures.

At Expedia, Subbu is leading a large-scale migration of Expedia’s travel platforms from enterprise data centers to a highly available architecture on the cloud.

Before joining Expedia, as a Distinguished Engineer at eBay Inc., Subbu helped build private cloud infrastructure and platforms for eBay and PayPal, which positioned these two organizations amongst a select few of the largest operators of OpenStack.

Subbu is an engineer well-rounded in product development, architecture, distributed systems, services, Internet protocols, operations, and cloud. Over the past several years, he helped build and empower several engineering and operations teams in these areas.

Subbu is an occasional blogger and speaker at technology conferences, and has published books on REST and server-side programming in Java. You can follow his activities at <a href="https://subbu.org">https://subbu.org</a> and @sallamar on Twitter.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr">
                        <a class="no-underline orange f6 fw1 ph1 v-top" href="https://subbu.org" target="_blank">subbu.org</a>
                        <a class="ph1 no-underline" title="Subbu on Twitter" href="https://twitter.com/sallamar" target="_blank">@@include('./icon-twitter.html')</a>

                    </div>

                </div>
            </div>
        </div>

        <div id="michaelw" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Michael Wittig
                    </p>
                    <p class="f6 gray mt0">
                        cloudonaut.io
                    </p>
                    <p class="f6">
                        Michael Wittig is author of Amazon Web Services in Action (Manning). As an independent consultant, he helps his clients to gain value from Amazon Web Services. As a software engineer he develops cloud-native real-time web and mobile applications. He migrated the complete IT infrastructure of the first bank in Germany to AWS. He has expertise in distributed system development and architecture, with experience in algorithmic trading and real-time analytics.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>

                    <div class="tl">
                        <a class="no-underline orange f6 fw1 ph1 v-top" href="https://cloudonaut.io/" target="_blank">cloudonaut.io</a>

                        <a class="ph1 no-underline" title="Simon on Twitter" href="https://twitter.com/hellomichibye" target="_blank">@@include('./icon-twitter.html')</a>
                    </div>

                </div>
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/michael-wittig.jpg" class="ba br2 b--transparent grow" alt="Photo of Michael" title="Michael Wittig" />
                </div>

            </div>
        </div>

        <div id="gilliana" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/gillian-armstrong.jpg" alt="Photo of Gillian" title="Gillian Armstrong" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Gillian Armstrong
                    </p>
                    <p class="f6 gray mt0">
                        Liberty Information Technology
                    </p>
                    <p class="f6">
                        Gillian works as Technical Lead of the Cognitive Technologies team in the Applied Innovation unit in Liberty IT. Her team is focused on exploring and using innovative technology in interesting new ways. At the moment she is working on Conversational AI design and development, mostly within the AWS ecosystem. She has more than a decade’s worth of experience in many technologies across the full stack, but her passion is for where technology meets humans in the user interface and experience. She loves being a software engineer as it allows her not just to think up big ideas, but also to make them a reality.
                    </p>
                    <p class="f6">
                        Pronouns: she/her
                    </p>
                    <div class="tr">
                        <a class="no-underline orange f6 fw1 ph1 v-top" href="http://virtualgill.io" target="_blank">virtualgill.io</a>
                        <a class="ph1 no-underline" title="Gillian on Twitter" href="https://twitter.com/virtualgill" target="_blank">@@include('./icon-twitter.html')</a>
                        <a class="ph1 no-underline" title="Gillian on Medium" href="https://medium.com/@virtualgill" target="_blank">@@include('./icon-medium.html')</a>

                    </div>

                </div>
            </div>
        </div>

        <div id="danilop" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Danilo Poccia
                    </p>
                    <p class="f6 gray mt0">
                        Amazon Web Services
                    </p>
                    <p class="f6">
                        Danilo works with startups and companies of any size to support their innovation. In his role as Technical Evangelist at Amazon Web Services, he leverages his experience to help people bringing their ideas to life, focusing on event-driven programming and serverless architectures, and on the technical and business impact of machine learning and edge computing. He is author of AWS Lambda in Action from Manning.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>

                    <div class="tl">
                        <a class="ph1 no-underline" title="Danilo on Twitter" href="https://twitter.com/danilop" target="_blank">@@include('./icon-twitter.html')</a>

                        <a class="ph1 no-underline" title="Danilo on LinkedIn" href="https://www.linkedin.com/in/dpoccia/" target="_blank">@@include('./icon-linkedin.html')</a>

                        <a class="ph1 no-underline" title="Danilo on Medium" href="https://medium.com/@danilop" target="_blank">@@include('./icon-medium.html')</a>

                    </div>

                </div>
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/danilo-poccia.jpg" alt="Photo of Danilo" title="Danilo Poccia" class="grow"/>
                </div>

            </div>
        </div>

        <div id="artol" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/liukkonen_arto_2.png" alt="Photo of Arto" title="Arto Liukkonen" class="grow"/>
                </div>
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Arto Liukkonen
                    </p>
                    <p class="f6 gray mt0">
                        Nordcloud
                    </p>
                    <p class="f6">
                        Arto is a Lead Developer at Nordcloud. He's been a web developer for over ten years, kickstarting his career in 2007 by building successful Facebook games. Originally a PHP/WordPress guy, Arto converted to Javascript with Node.js v0.6 and for the last two years has been focused on React and serverless for both work and hobby projects, ranging from the banking sector to industrial IoT apps.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>
                    <div class="tr">
                        <a class="ph1 no-underline" title="Arto on Twitter" href="https://twitter.com/artoliukkonen" target="_blank">@@include('./icon-twitter.html')</a>
                        <a class="ph1 no-underline" title="Arto on Linkedin" href="https://linkedin.com/artoliukkonen" target="_blank">@@include('./icon-linkedin.html')</a>

                    </div>

                </div>
            </div>
        </div>

        <div id="chadari" class="dt-row bb b--light-gray w-100 mt1 mt3-ns">
            <div class="dt w-100 pv2 bb b--gray">
                <div class="dtc f4 w-80 pa2 pb0 tl nested-copy-line-height v-top">
                    <p class="mb0">
                        Chad Arimura
                    </p>
                    <p class="f6 gray mt0">
                        Oracle
                    </p>
                    <p class="f6">
                        Chad is a 3x entrepreneur, most recently as co-founder and CEO of Iron.io where he helped grow a multi-million dollar ARR business helping to pioneer serverless computing. In 2017 Chad sold Iron.io and joined Oracle where he's Vice President of Serverless. Chad's currently leading the <a href="https://github.com/fnproject" target="_blank">Fn Project</a>, an open source cloud agnostic FaaS platform.
                    </p>
                    <p class="f6">
                        Pronouns: he/him
                    </p>

                    <div class="tl">
                        <a class="no-underline orange f6 fw1 ph1 v-top" href="http://chadarimura.com" target="_blank">chadarimura.com</a>
                        <a class="ph1 no-underline" title="Chad on Twitter" href="https://twitter.com/chadarimura" target="_blank">@@include('./icon-twitter.html')</a>
                        <a class="ph1 no-underline" title="Chad on LinkedIn" href="https://www.linkedin.com/in/chadarimura/" target="_blank">@@include('./icon-linkedin.html')</a>
                        <a class="ph1 no-underline" title="Chad on Medium" href="https://medium.com/@carimura" target="_blank">@@include('./icon-medium.html')</a>

                    </div>

                </div>
                <div class="dtc w-20 pa2 pv3 v-mid">
                    <img src="/imgs/chad_arimura_400x400.jpg" alt="Photo of Chad" title="Chad Arimura" class="grow"/>
                </div>

            </div>
        </div>
    </div>
</div>
