<div id="tickets" class="dn">
    <div class="tc tl-ns">
        <h3 class="black f2 fw6 tc code" data-lang="Biglietti">Tickets</h3>
        <div class="black mw6 mw7-ns tc center mt4 ph3 ph0-ns">
          <p data-lang="
            La Conferenza ha prezzi accessibili: vogliamo che JeffConf sia aperta a tutti i membri della community. Puoi acquistare anche un Diversity Sponsor Ticket per regalare l'accesso alla conferenza a una persona che appartiene a un gruppo poco rappresentato nel settore tech.
          ">
            We want to make JeffConf accessible, so have kept prices low to ensure maximum accessibility. You can even buy a Diversity Scholar ticket and we will gift it to a Diversity Scholar for free.
          </p>
          <div class="w-100 mt4 center">
            <iframe id="eventbrite"></iframe>
          </div>
          <p class="pa3 mb5">
            <span data-lang="Oppure acquista i biglietti direttamente su Eventbrite">
                Or purchase tickets directly via Eventbrite
            </span>
            <a id="eventbrite-website" href="https://www.eventbrite.com/e/jeffconf-milano-2017-tickets-36770706172#tickets" title="JeffConf Milan @ Eventbrite" target="_blank" data-lang="qui">here.</a>
          </p>
        </div>

    </div>
</div>