<div id="venue" class="dn">
    <div class="tc tl-ns center">
        <h3 class="black f2 fw6 tc code">Altonaer Museum</h3>
        <h4 class="black tc">
            Museumstraße 23, 22765 Hamburg
        </h4>
        <div class="mw6 mw7-ns center pa3 tc">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2370.4918327795435!2d9.932439951032533!3d53.54898716711684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18586fb620eaf%3A0xd05eecf6b517a71a!2sAltonaer+Museum!5e0!3m2!1sen!2sde!4v1511956068281" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p class="black mw6 mw7-ns tc center mt3 ph3 ph0-ns">
      <span>Find out more about this fantastic venue
      </span>
            <a id="gvp-website" href="http://www.altonaermuseum.de" title="Altonaer Museum" target="_blank">here</a>!
        </p>
    </div>
</div>