<div id="venue" class="dn">
  <div class="tc tl-ns center">
      <h3 class="black f2 fw6 tc code">Grand Visconti Palace</h3>
      <h4 class="black tc">
        Milano, viale Isonzo 14
      </h4>
      <p class="black mw6 mw7-ns tc center ph3 ph0-ns"
        data-lang="
          <b>Come Arrivare:</b> Metro M3 (linea gialla), fermata Lodi TIBB (a circa 10 minuti da Milano Centrale)
          <br /><br />
          A due passi dal centro di Milano, il Grand Visconti Palace interpreta al meglio il senso meneghino di ospitalità, in perfetto equilibrio fra tradizione e contemporaneità, tra la cultura dell’accoglienza dei grand hotel di un tempo e la disponibilità delle moderne tecnologie al servizio del mondo degli eventi. L'hotel vanta un parco di 2.500 metri quadrati, con al suo interno il Giardino d’Inverno: un luminoso gazebo in ferro e cristallo che regala un’atmosfera emozionante con arredi etnici e sedute in pelle dai colori caldi e avvolgenti.
        "
      >
        <b>How to get there:</b> M3 (yellow line) stop Lodi TIBB (a 10 minutes ride from the Main Railway Station)<br /><br />
        The Grand Visconti Palace is a luxury hotel in Milan, Italy. Tradition and modernity are combined together to create this outstanding hotel. It also provides 14 meeting rooms, each named after the main gates of the city, such as Porta Romana, Porta Ticinese and Porta Vittoria. These gates are highly symbolic urban elements which, in the past, were bastions of resistance and places to meet and to spread cultural ideas.
      </p>
      <div class="mw6 mw7-ns center pa3 tc">
        <a id="gvp-map" class="no-underline pointer" href="https://www.google.it/maps?q=Grand+Visconti+Palace,+Milano&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=0ahUKEwjToMT73LXVAhVLshQKHSIAAqYQ_AUICygC" target="_blank" title="Grand Visconti Palace">
          <img class="ba b--transparent" src="/imgs/jeffconf-milano-location.jpg" alt="Grand Visconti Palace" title="Grand Visconti Palace" />
        </a>
      </div>
      <p class="black mw6 mw7-ns tc center mt3 ph3 ph0-ns">
      <span data-lang="Scopri di più su questa magnifica location ">Find out more about this fantastic venue
      </span>
      <a id="gvp-website" href="http://www.grandviscontipalace.com" title="Grand Visconti Palace" target="_blank" data-lang="qui">here</a>!
      </p>
  </div>
</div>