<div id="workshops" class="dn">
  <div class="tc tl-ns center">
      <h3 class="black f2 fw6 tc code">Workshop Day (Feb 15th)</h3>

      <div class="tc pb3">
          <p>
              JeffConf Hamburg features a workshop day one day before the main conference.
          </p>

          <p>
              Attendees who acquire a <a href="/tickets">workshop ticket</a> can attend to the following 4 hour workshops on a first-come first-serve basis (agenda still subject to change)
          </p>
      </div>

      <div class="fl-ns w-30-ns w-100 pa2">
          <p class="b">Slot 1</p>
          <div class="white">
              <div class="v-mid tl ph3 pv3 bl bb fw6 hamburg-red-bg w-100">
                  Description
              </div>
          </div>

          <div class="bg-near-white">
              <div class="v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless Framework</p>
                  <p class="f6 fw4">TBA</p>
              </div>
          </div>

          <div class="bg-near-white">
              <div class="v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">TBA</p>
              </div>
          </div>

      </div>


      <div class="fl-ns w-30-ns w-100 pa2">
          <p class="b">Slot 2</p>
          <div class="white">
              <div class="v-mid tl ph3 pv3 bl bb fw6 hamburg-red-bg w-100">
                  Description
              </div>
          </div>

          <div class="bg-near-white">
              <div class="v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless Web Application on AWS (beginner)</p>
                  <p class="f6 fw4">This workshop shows you how to build a dynamic, serverless web application. You'll learn how to host static web resources with Amazon S3, how to use Amazon Cognito to manage users and authentication, and how to build a RESTful API for backend processing using Amazon API Gateway, AWS Lambda and Amazon DynamoDB.</p>
              </div>
          </div>

          <div class="bg-near-white">
              <div class="v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">Serverless Data Processing on AWS (advanced)</p>
                  <p class="f6 fw4">This workshop demonstrates how to collect, store, and process data with a serverless application. In this workshop you'll learn how to automatically process files on Amazon S3 using AWS Lambda, how to build real-time streaming applications using Amazon Kinesis Streams and Amazon Kinesis Analytics, how to archive data streams using Amazon Kinesis Firehose and Amazon S3, and how to run ad-hoc queries on those files using Amazon Athena.</p>
              </div>
          </div>

      </div>

      <div class="fl-ns w-30-ns w-100 pa2">
          <p class="b">Slot 3</p>
          <div class="white w-100">
              <div class="v-mid tl ph3 pv3 bl bb fw6 hamburg-red-bg w-100">
                  Description
              </div>
          </div>

          <div class="bg-near-white">
              <div class="v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">TBA</p>
              </div>
          </div>

          <div class="bg-near-white">
              <div class="v-mid tl ph3 pv3 bl bb b--black-50">
                  <p class="f5 fw6 v-mid">TBA</p>
              </div>
          </div>

      </div>

  </div>
</div>
